Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion

fix 2
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

fixing parameters reference
  pipelines/infra/azure-resource-provisioning-template.yml
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

updating terraform tasks
  pipelines/infra/azure-resource-provisioning-template.yml
Due: pipelines/infra/deploy-pippeline.yml

undoing part of the change
  pipelines/infra/azure-resource-provisioning-template.yml
Due: pipelines/infra/deploy-pippeline.yml

now?
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

fixing spn issues?
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

removing lock file
  cloud_infrastructure/terraform/dev/.terraform.lock.hcl
Due: pipelines/infra/deploy-pippeline.yml

fixing variable ref
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

one more time
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

removing location variable
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

updating prod infra pipeline
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

mocking PROD condition for testing
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

reverting test code
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

small update to the container c4 model
  architecture/search_system_containers_c4_diagram.puml
Due: none

c4 container model diagram update
  architecture/search_system_containers_c4_diagram.puml
Due: none

adding ACR to the infra template
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

adding azure container apps resources
  cloud_infrastructure/README.md
  cloud_infrastructure/terraform/dev/backend.conf
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/prod/backend.conf
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

adding azure functions
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/init/main.tf
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

adding api m and service bus to the terraform scripts
  architecture/search_system_containers_c4_diagram.puml
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

creating search api and unit test project
  backend/.editorconfig
  backend/.gitignore
  backend/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/BGC.SearchApi.UnitTests/UnitTest1.cs
  backend/BGC.SearchApi.UnitTests/Usings.cs
  backend/BGC.SearchApi.sln
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Properties/launchSettings.json
  backend/BGC.SearchApi/Services/Interfaces/ISearchService.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/appsettings.Development.json
  backend/BGC.SearchApi/appsettings.json
  backend/BGC.SearchApi/dockerfile
Due: none

retriving search results from BGG
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Models/Domain/BoardGameGeek/BoardGameSearchResponse.cs
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/BggService.cs
  backend/BGC.SearchApi/Services/Interfaces/IBggService.cs
  backend/BGC.SearchApi/Services/Interfaces/ISearchService.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/search.http
Due: none

Handling errors
  backend/BGC.SearchApi/Models/Exceptions/BggException.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/ErrorService.cs
  backend/BGC.SearchApi/Services/Interfaces/IErrorService.cs
  backend/BGC.SearchApi/Services/SearchService.cs
Due: none

removing dev setting file from repo
  backend/.gitignore
  backend/BGC.SearchApi/appsettings.Development.json
Due: none

adding mongo db repository
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Models/BoardGameGeek/BoardGameSearchResponse.cs
  backend/BGC.SearchApi/Models/Domain/BoardGame.cs
  backend/BGC.SearchApi/Models/Settings/AppSettings.cs
  backend/BGC.SearchApi/Models/Settings/MongoDbSettings.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Repositories/BoardGamesRepository.cs
  backend/BGC.SearchApi/Repositories/Interfaces/IBoardGamesRepository.cs
  backend/BGC.SearchApi/Services/BggService.cs
  backend/BGC.SearchApi/Services/Interfaces/IBggService.cs
  backend/BGC.SearchApi/Services/SearchService.cs
Due: none

enriching board game details
  backend/BGC.SearchApi/Models/Domain/Artist.cs
  backend/BGC.SearchApi/Models/Domain/BoardGame.cs
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Repositories/BoardGamesRepository.cs
  backend/BGC.SearchApi/Repositories/Interfaces/IBoardGamesRepository.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/search.http
Due: none

updating board game model
  backend/BGC.SearchApi/Models/Domain/Artist.cs
  backend/BGC.SearchApi/Models/Domain/BoardGame.cs
  backend/BGC.SearchApi/Models/Domain/NamedEntity.cs
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Services/SearchService.cs
Due: none

Adding some unit tests
  backend/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/BGC.SearchApi.UnitTests/Services/ErrorServiceTests.cs
  backend/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
  backend/BGC.SearchApi.UnitTests/UnitTest1.cs
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
Due: none

adding more unit tests
  backend/BGC.SearchApi.UnitTests/Helpers/HttpClientHelpers.cs
  backend/BGC.SearchApi.UnitTests/Repositories/BoardGamesRepositoryTests.cs
  backend/BGC.SearchApi.UnitTests/Services/BggServiceTests.cs
  backend/BGC.SearchApi.UnitTests/Services/ErrorServiceTests.cs
  backend/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
  backend/BGC.SearchApi.UnitTests/Usings.cs
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Repositories/BoardGamesRepository.cs
  backend/BGC.SearchApi/Repositories/Interfaces/IBoardGamesRepository.cs
Due: none

adding more unit tests
  backend/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/BGC.SearchApi.UnitTests/Endpoints/SearchEndpointTests.cs
  backend/BGC.SearchApi/Program.cs
Due: none

creating search API build pipeline
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  pipelines/search_api/build_pipeline.yaml
  pipelines/templates/test_and_coverage.yaml
Due: none

updating variables
  pipelines/search_api/build_pipeline.yaml
Due: none

fixing path
  pipelines/search_api/build_pipeline.yaml
Due: none

one more time path fix
  pipelines/search_api/build_pipeline.yaml
Due: none

now?
  pipelines/search_api/build_pipeline.yaml
Due: none

noW!
  pipelines/search_api/build_pipeline.yaml
Due: none

wrong unit test projcet path
  pipelines/search_api/build_pipeline.yaml
Due: none

adding required packages for test code coverage
  backend/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  pipelines/search_api/deploy_pipeline.yaml
Due: none

updating search api deployment pipeline
  backend/BGC.SearchApi/Models/Domain/NamedEntity.cs
  backend/BGC.SearchApi/Models/Settings/AppSettings.cs
  backend/BGC.SearchApi/Models/Settings/MongoDbSettings.cs
  pipelines/search_api/deploy_pipeline.yaml
Due: none

creating emtpy search service
  board_games_companion/.gitignore
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.freezed.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.g.dart
  board_games_companion/lib/models/bgg/bgg_play.dart
  board_games_companion/lib/services/board_games_search_service.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml

moving shared resources to init terraform stage
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/init/main.tf
Due: pipelines/infra/deploy-pippeline.yml
