Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

azure-pipelines.yml:
  name: $(app.version).$(Build.BuildID)_$(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'pwd
  
      ls
  
      dotnet restore
  
      dotnet build -c Release
  
      '
  ...

pipelines/functions_apps/build_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'dotnet restore
  
      dotnet build -c Release
  
      '
    displayName: Restore & Build
  ...

pipelines/functions_apps/deploy_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    jobs:
    - job: PublishFunctions
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: none
      - task: DownloadPipelineArtifact@2
        displayName: Download Artifacts
        inputs:
  ...

pipelines/infra/deploy-pippeline.yml:
  name: $(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    variables:
    - group: BGC-DEV-INFRA
    jobs:
    - deployment: ProvisionAzureResources
      displayName: Provision Azure Resources
      environment: DEV
      strategy:
        runOnce:
          deploy:
            steps:
  ...

pipelines/mobile_app/build-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  jobs:
  - job: Build
    timeoutInMinutes: 20
    pool:
      vmImage: macOS-latest
    steps:
    - task: FlutterInstall@0
      displayName: Install Flutter
      inputs:
        mode: auto
        channel: stable
        version: custom
  ...

pipelines/mobile_app/deploy-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: CdBuildAndroid
    jobs:
    - job: BuildAndroid
      condition: or(eq('${{ parameters.publishAndroid }}', 'true'), in(variables['Build.Reason'], 'BatchedCI', 'IndividualCI'))
      timeoutInMinutes: 20
      pool:
  ...

pipelines/search_api/build_pipeline.yaml:
  name: $(Build.BuildId)
  pool:
    vmImage: ubuntu-22.04
    workspace:
      clean: all
  jobs:
  - job: CI
    displayName: CI
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 7.x SDK
      inputs:
        version: 7.x
    - task: DotNetCoreCLI@2
      displayName: Build Search API
      inputs:
  ...

progress on giving an ability to add notes when logging a game in the past
  board_games_companion/lib/app.dart
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/models/navigation/playthough_note_page_arguments.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_note_page.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_note_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_note_view_model.g.dart
  board_games_companion/lib/pages/playthroughs/playthrough_notes_state.dart
  board_games_companion/lib/pages/playthroughs/playthrough_notes_state.freezed.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.g.dart
  board_games_companion/lib/services/playthroughs_service.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
  board_games_companion/lib/stores/playthroughs_store.dart
  board_games_companion/lib/widgets/playthrough/playthrough_note_list_item.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

ironing out adding ntoes
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_note_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_note_view_model.g.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
  board_games_companion/lib/widgets/playthrough/playthrough_note_list_item.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

improving performance of the historical playthroughs page
  board_games_companion/lib/extensions/date_time_extensions.dart
  board_games_companion/lib/pages/plays/grouped_board_game_playthroughs.dart
  board_games_companion/lib/pages/plays/grouped_board_game_playthroughs.freezed.dart
  board_games_companion/lib/pages/plays/historical_playthrough.dart
  board_games_companion/lib/pages/plays/historical_playthrough.freezed.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/plays/plays_page_visual_states.dart
  board_games_companion/lib/pages/plays/plays_page_visual_states.freezed.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
  board_games_companion/lib/pages/plays/plays_view_model.g.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating bottom sheet UI
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/pages/collections/collections_filter_panel.dart
  board_games_companion/lib/pages/collections/collections_page.dart
  board_games_companion/lib/pages/create_board_game/create_board_game_page.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/widgets/common/page_container.dart
  board_games_companion/lib/widgets/common/section_header.dart
  board_games_companion/lib/widgets/common/slivers/bgc_sliver_title_header_delegate.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing padding when no expansions on the details page
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

filter bottom sheet height fix
  board_games_companion/lib/pages/collections/collections_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

filter bottom sheet height fix (#204)
  board_games_companion/lib/pages/collections/collections_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing filter panel height
  board_games_companion/lib/pages/collections/collections_page.dart
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

1.11.1 - Bottom sheet height fix (#205)
  board_games_companion/lib/pages/collections/collections_page.dart
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding shimmer effect when loading search results
  board_games_companion/lib/widgets/common/bgc_shimmer.dart
  board_games_companion/lib/widgets/common/search/search_result_game_details.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding shimmer to the board game images
  board_games_companion/lib/widgets/board_games/board_game_tile.dart
  board_games_companion/lib/widgets/common/bgc_shimmer.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing plays history not refreshing automatically
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/plays/plays_page_visual_states.dart
  board_games_companion/lib/pages/plays/plays_page_visual_states.freezed.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

small fixes for the details page if general info is null
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/models/hive/board_game_details.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

Adding health check to the search API
  backend/BGC.SearchApi/Program.cs
Due: pipelines/search_api/build_pipeline.yaml

adding timout search timeout and showing an appropriate error for it
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/lib/services/board_games_search_service.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
  board_games_companion/lib/widgets/search/board_game_search_error.dart
  board_games_companion/lib/widgets/search/board_game_search_error.freezed.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

1.11.2 - Adding shimmer effect (#206)
  backend/BGC.SearchApi/Program.cs
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/models/hive/board_game_details.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/plays/plays_page_visual_states.dart
  board_games_companion/lib/pages/plays/plays_page_visual_states.freezed.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
  board_games_companion/lib/services/board_games_search_service.dart
  board_games_companion/lib/widgets/board_games/board_game_tile.dart
  board_games_companion/lib/widgets/common/bgc_shimmer.dart
  board_games_companion/lib/widgets/common/search/search_result_game_details.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
  board_games_companion/lib/widgets/search/board_game_search_error.dart
  board_games_companion/lib/widgets/search/board_game_search_error.freezed.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

adding health check test to the terraform scripts
  cloud_infrastructure/terraform/shared/main.tf
  cloud_infrastructure/terraform/shared/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

updating health check endpoint
  backend/BGC.SearchApi/Program.cs
  cloud_infrastructure/terraform/shared/main.tf
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

removing terraform unused code
  cloud_infrastructure/terraform/shared/main.tf
  cloud_infrastructure/terraform/shared/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

1.11.2 - Search API health check endpoint update (#207)
  backend/BGC.SearchApi/Program.cs
  cloud_infrastructure/terraform/shared/main.tf
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

fixing editting of the notes
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing editting of the notes (#209)
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

Adding cache service to the Search API. Adding service bus send policy to the infrastructure scripts
  architecture/out/search_system_containers_c4_diagram/search_system_containers.png
  architecture/search_system_containers_c4_diagram.puml
  backend/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
  backend/BGC.SearchApi/Authentication/ApiKeyAuthenticationSettings.cs
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Models/Settings/AppSettings.cs
  backend/BGC.SearchApi/Models/Settings/CacheSettings.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/CacheService.cs
  backend/BGC.SearchApi/Services/Interfaces/ICacheService.cs
  backend/BGC.SearchApi/Services/Interfaces/ISearchService.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

fixing tests and infra scripts
  backend/BGC.SearchApi.UnitTests/Endpoints/SearchEndpointTests.cs
  backend/BGC.SearchApi.UnitTests/Helpers/WebApiApp.cs
  backend/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

adding a unit test
  backend/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: none

adding KV to the dev infra
  backend/BGC.SearchApi/Models/Settings/CacheSettings.cs
  backend/BGC.SearchApi/Services/CacheService.cs
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

renaming kv secret
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing kv secret names
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

using dashes instead of underscores
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

adding permissions
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

dunno
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

switching to access policy instead
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing an null ref issuye
  board_games_companion/lib/pages/playthroughs/playthroughs_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating copy for the playthrough history days ago
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/extensions/int_extensions.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_history_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding run script step to include dSYM files for iOS crashlitics
  .DS_Store
  board_games_companion/ios/Podfile.lock
  board_games_companion/ios/Runner.xcodeproj/project.pbxproj
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing an issue with not being able to update scores when logging a game in the past
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/main.dart
  board_games_companion/lib/services/analytics_service.dart
  board_games_companion/lib/services/playthroughs_service.dart
  board_games_companion/lib/services/score_service.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
  board_games_companion/lib/stores/scores_store.dart
  board_games_companion/lib/utilities/analytics_route_observer.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding first test (wooohooo)
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/services/board_games_filters_service.dart
  board_games_companion/lib/services/board_games_service.dart
  board_games_companion/lib/services/hive_base_service.dart
  board_games_companion/lib/services/injectable_register_module.dart
  board_games_companion/lib/services/player_service.dart
  board_games_companion/lib/services/playthroughs_service.dart
  board_games_companion/lib/services/preferences_service.dart
  board_games_companion/lib/services/score_service.dart
  board_games_companion/lib/services/search_service.dart
  board_games_companion/lib/services/user_service.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
  board_games_companion/test/mocks/hive_interface_mock.dart
  board_games_companion/test/mocks/score_hive_box_mock.dart
  board_games_companion/test/services/score_service_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi
