Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/cache_update_function/build_pipeline.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

azure-pipelines.yml:
  name: $(app.version).$(Build.BuildID)_$(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'pwd
  
      ls
  
      dotnet restore
  
      dotnet build -c Release
  
      '
  ...

pipelines/cache_update_function/build_pipeline.yml:
  name: $(functions.version) $(Build.BuildID) $(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 7.0
    inputs:
      packageType: sdk
      version: 7.0.x
  - script: 'dotnet restore
  
      dotnet build -c Release
  
      '
    displayName: Restore & Build
  ...

pipelines/functions_apps/build_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'dotnet restore
  
      dotnet build -c Release
  
      '
    displayName: Restore & Build
  ...

pipelines/functions_apps/deploy_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    jobs:
    - job: PublishFunctions
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: none
      - task: DownloadPipelineArtifact@2
        displayName: Download Artifacts
        inputs:
  ...

pipelines/infra/deploy-pippeline.yml:
  name: $(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    variables:
    - group: BGC-DEV-INFRA
    jobs:
    - deployment: ProvisionAzureResources
      displayName: Provision Azure Resources
      environment: DEV
      strategy:
        runOnce:
          deploy:
            steps:
  ...

pipelines/mobile_app/build-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  jobs:
  - job: Test
    timeoutInMinutes: 10
    condition: eq('${{ parameters.runTests }}', 'true')
    pool:
      vmImage: macOS-latest
    steps:
    - task: FlutterInstall@0
      displayName: Install Flutter
      inputs:
        mode: auto
  ...

pipelines/mobile_app/deploy-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: CdBuildAndroid
    jobs:
    - job: BuildAndroid
      condition: or(eq('${{ parameters.publishAndroid }}', 'true'), in(variables['Build.Reason'], 'BatchedCI', 'IndividualCI'))
      timeoutInMinutes: 20
      pool:
  ...

pipelines/search_api/build_pipeline.yaml:
  name: $(Build.BuildId)
  pool:
    vmImage: ubuntu-22.04
    workspace:
      clean: all
  jobs:
  - job: CI
    displayName: CI
    steps:
    - task: UseDotNet@2
      condition: eq('${{ parameters.checkTestCoverage }}', true)
      displayName: Install .NET 7.x SDK
      inputs:
        version: 7.x
  ...

ignoring the dev config files
  backend/.gitignore
Due: none

adding mongo conventions to the worker
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/cache/BGC.CacheCore/Helpers/MongoDbHelpers.cs
  backend/cache/BGC.Functions/Program.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/Program.cs
Due: pipelines/search_api/build_pipeline.yaml

fixing incorrect references
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/cache/BGC.CacheCore/BGC.CacheCore.csproj
  backend/cache/BGC.UpdateBoardGameCacheWorker/BGC.UpdateBoardGameCacheWorker.csproj
  backend/tests/BGC.Functions.UnitTests/BGC.Functions.UnitTests.csproj
  backend/tests/BGC.Functions.UnitTests/Functions/UpdateBoardGameCacheFunctionTests.cs
Due: pipelines/search_api/build_pipeline.yaml

slowing down the processing of message in the worker to avoid bgg rate limitation
  backend/cache/BGC.UpdateBoardGameCacheWorker/Worker.cs
Due: none

fixing score bugs and adding unit tests
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/models/hive/score.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
  board_games_companion/test/mocks/game_playthroughs_details_store_mock.dart
  board_games_companion/test/models/playthrough_details_test.dart
  board_games_companion/test/view_models/edit_playthrough_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing score bugs and adding unit tests (#237)
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/models/hive/score.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
  board_games_companion/test/mocks/game_playthroughs_details_store_mock.dart
  board_games_companion/test/models/playthrough_details_test.dart
  board_games_companion/test/view_models/edit_playthrough_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing bgg no results returned exception thrown
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameSearchResponseDto.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/search.http
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

fixing bgg no results returned exception thrown (#238)
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameSearchResponseDto.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/search.http
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

replacing dio with http client
  board_games_companion/lib/common/hive_boxes.dart
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/services/board_games_geek_service.dart
  board_games_companion/lib/services/injectable_register_module.dart
  board_games_companion/lib/utilities/base_http_client.dart
  board_games_companion/lib/utilities/caching_http_client.dart
  board_games_companion/lib/utilities/custom_http_client_adapter.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

removing test code
  board_games_companion/lib/services/board_games_geek_service.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing sorting of scores for cooperative games
  board_games_companion/lib/extensions/scores_extensions.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing issue with getting an index of a player score
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/test/view_models/edit_playthrough_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing issue with getting an index of a player score (#239)
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/test/view_models/edit_playthrough_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing issues with editing a score for player without an id and sorting of cooperative games by score
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing issues with editing a score for player without an id and sorting of cooperative games by score (#240)
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating queue message time to live
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing the issue with inability to resolve ties when game logged in the past
  board_games_companion/lib/extensions/player_score_extensions.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/enter_score/enter_score_dialog.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.dart
  board_games_companion/test/extensions/player_scores_extensions_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing the issue with inability to resolve ties when game logged in the past (#244)
  board_games_companion/lib/extensions/player_score_extensions.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/enter_score/enter_score_dialog.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.dart
  board_games_companion/test/extensions/player_scores_extensions_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

showing only active players when selecting players to play in a game
  board_games_companion/lib/pages/playthroughs/playthrough_players_selection_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

showing only active players when selecting players to play in a game (#246)
  board_games_companion/lib/pages/playthroughs/playthrough_players_selection_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing board game details shimmer and capturing error when unhandled exception is caught
  board_games_companion/lib/main.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/pages/playthroughs/playthrough_players_selection_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding collection sorting option for the most recent played game
  board_games_companion/lib/common/enums/sort_by_option.dart
  board_games_companion/lib/common/enums/sort_by_option.g.dart
  board_games_companion/lib/extensions/board_game_extentions.dart
  board_games_companion/lib/extensions/playthroughs_extensions.dart
  board_games_companion/lib/models/sort_by.dart
  board_games_companion/lib/pages/collections/collections_view_model.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
  board_games_companion/lib/stores/board_games_filters_store.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

removing dio reference from about page
  board_games_companion/lib/pages/about/about_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

first cut of the most played section
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/common/enums/plays_tab.dart
  board_games_companion/lib/pages/plays/most_played_game.dart
  board_games_companion/lib/pages/plays/most_played_game.freezed.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
  board_games_companion/lib/pages/plays/plays_view_model.g.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_statistics_page.dart
  board_games_companion/lib/widgets/common/slivers/bgc_sliver_section_wrapper.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating the most played games and totals
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/common/dimensions.dart
  board_games_companion/lib/pages/plays/most_played_game.dart
  board_games_companion/lib/pages/plays/most_played_game.freezed.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
  board_games_companion/lib/pages/plays/plays_view_model.g.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_statistics_page.dart
  board_games_companion/lib/widgets/common/stats/vertical_statistics_item.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing incorrect logic to select history tab everytime
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing an issue selected sort order not being highlighted
  board_games_companion/lib/pages/collections/collections_filter_panel.dart
  board_games_companion/lib/stores/board_games_filters_store.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

progress on getting setting up period for stats
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/common/dimensions.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
  board_games_companion/lib/pages/plays/plays_view_model.g.dart
  board_games_companion/lib/pages/plays/statistics_period.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_statistics_page.dart
  board_games_companion/lib/widgets/common/stats/pie_chart_legend_box.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating cocoapods
  board_games_companion/ios/Podfile.lock
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating cocoapods (#254)
  board_games_companion/ios/Podfile.lock
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating dependencies
  board_games_companion/ios/Podfile.lock
  board_games_companion/ios/Runner.xcodeproj/project.pbxproj
  board_games_companion/pubspec.lock
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing incorrect dependencies
  board_games_companion/ios/Podfile.lock
  board_games_companion/ios/Runner.xcodeproj/project.pbxproj
  board_games_companion/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  board_games_companion/pubspec.lock
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

1.13.3 - More ios updates (#255)
  board_games_companion/ios/Podfile.lock
  board_games_companion/ios/Runner.xcodeproj/project.pbxproj
  board_games_companion/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding dockerfile for cache worker
  backend/cache/BGC.UpdateBoardGameCacheWorker/dockerfile
Due: none

updating docker and readme file
  backend/cache/BGC.UpdateBoardGameCacheWorker/README.md
  backend/cache/BGC.UpdateBoardGameCacheWorker/dockerfile
Due: none

getting docker to run
  backend/cache/BGC.UpdateBoardGameCacheWorker/BGC.UpdateBoardGameCacheWorker.csproj
  backend/cache/BGC.UpdateBoardGameCacheWorker/Properties/launchSettings.json
Due: none

adding app settings to docker ignore
  backend/.dockerignore
Due: none

updating android's icon to support adaptive and themed icons
  board_games_companion/android/app/src/main/ic_launcher-playstore.png
  board_games_companion/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  board_games_companion/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  board_games_companion/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-hdpi/ic_launcher_background.webp
  board_games_companion/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  board_games_companion/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  board_games_companion/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-mdpi/ic_launcher_background.webp
  board_games_companion/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  board_games_companion/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  board_games_companion/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.webp
  board_games_companion/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  board_games_companion/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  board_games_companion/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.webp
  board_games_companion/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  board_games_companion/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  board_games_companion/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.webp
  board_games_companion/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  board_games_companion/assets/icons/adaptive_icon_background.png
  board_games_companion/assets/icons/adaptive_icon_foreground.png
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

making the icon a tad smaller
  board_games_companion/android/app/src/main/ic_launcher-playstore.png
  board_games_companion/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  board_games_companion/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  board_games_companion/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  board_games_companion/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  board_games_companion/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  board_games_companion/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  board_games_companion/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/cache_update_function/build_pipeline.yml: any of: BGC.Functions, BGC.Core
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi
