Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/cache_update_function/build_pipeline.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/cache_update_function/build_pipeline.yml: any of: BGC.Functions, BGC.Core
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi

disabling app performance counters for application insights
  backend/BGC.Functions/host.json
Due: none

detecting tied scores
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

tie breaker instruction and showing place
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/common/dimensions.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding animations package and handling tie states
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.freezed.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

ensuring the places are reflected when reording
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing ordering and refreshing on the screen
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/models/playthroughs/score_tirebreaker.dart
  board_games_companion/lib/models/playthroughs/score_tirebreaker.freezed.dart
  board_games_companion/lib/models/playthroughs/tiebreaker.dart
  board_games_companion/lib/models/playthroughs/tiebreaker.freezed.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_history_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating tiebrekears logic
  board_games_companion/lib/models/player_score.dart
  board_games_companion/lib/models/player_score.freezed.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.freezed.dart
  board_games_companion/lib/models/playthroughs/score_tiebreaker_result.dart
  board_games_companion/lib/models/playthroughs/score_tiebreaker_result.freezed.dart
  board_games_companion/lib/models/playthroughs/tiebreaker.dart
  board_games_companion/lib/models/playthroughs/tiebreaker.freezed.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.freezed.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing host.json
  backend/BGC.Functions/host.json
Due: none

showing all of the historical playthroughs, even if a game is no longer in the collection
  board_games_companion/lib/pages/plays/plays_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

removing line of code that causes high storate transaction numbers and increases cost
  backend/BGC.Functions/Program.cs
Due: none

adding a comment
  backend/BGC.Functions/Program.cs
Due: none

downgrading storage to v1
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

disabling AzureWebJobsDashboard
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

using runFromPackage deployment
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

updating function packages to latest
  backend/BGC.Functions/BGC.Functions.csproj
Due: none

excluding date time service from coverage
  backend/BGC.Core/Services/DateTimeService.cs
Due: none

adding test to bump up the coverage
  backend/tests/BGC.Core.UnitTests/.editorconfig
  backend/tests/BGC.Core.UnitTests/Extensions/RegionDtoExtensionsTests.cs
Due: none

adding missed attribution
  backend/tests/BGC.Core.UnitTests/Extensions/RegionDtoExtensionsTests.cs
Due: none

limiting the amount of analytics captured by AI
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

tie breaker work continuation
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/common/hive_boxes.dart
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/main.dart
  board_games_companion/lib/models/board_game_statistics.dart
  board_games_companion/lib/models/board_game_statistics.freezed.dart
  board_games_companion/lib/models/hive/score.dart
  board_games_companion/lib/models/hive/score.freezed.dart
  board_games_companion/lib/models/hive/score.g.dart
  board_games_companion/lib/models/hive/score_game_results.dart
  board_games_companion/lib/models/hive/score_game_results.freezed.dart
  board_games_companion/lib/models/hive/score_game_results.g.dart
  board_games_companion/lib/models/player_score.dart
  board_games_companion/lib/models/player_score.freezed.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/models/playthroughs/score_tiebreaker_result.dart
  board_games_companion/lib/models/playthroughs/score_tiebreaker_result.freezed.dart
  board_games_companion/lib/models/playthroughs/score_tirebreaker.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/lib/pages/enter_score/enter_score_dialog.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.g.dart
  board_games_companion/lib/pages/plays/board_game_playthrough.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_history_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.g.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_view_model.dart
  board_games_companion/lib/services/score_service.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
  board_games_companion/lib/widgets/playthrough/player_score_rank_avatar.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding a TODO
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

handling shared place logic
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/extensions/player_score_extensions.dart
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/models/board_game_statistics.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.freezed.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.freezed.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
  board_games_companion/test/models/player_score_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating last winner logic
  board_games_companion/lib/extensions/player_score_extensions.dart
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/models/board_game_statistics.dart
  board_games_companion/lib/models/board_game_statistics.freezed.dart
  board_games_companion/lib/models/hive/score.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_statistics_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing issue with scores not updating after state change
  board_games_companion/lib/extensions/route_extensions.dart
  board_games_companion/lib/mixins/enter_score_dialog.dart
  board_games_companion/lib/models/board_game_statistics.dart
  board_games_companion/lib/models/board_game_statistics.freezed.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.freezed.dart
  board_games_companion/lib/pages/enter_score/enter_score_dialog.dart
  board_games_companion/lib/pages/plays/game_spinner_game_selected_dialog.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/playthroughs/bgg_plays_import_report_dialog.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_history_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

showing multiple winners on the plays history page
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/pages/plays/board_game_playthrough.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing top 5 scores
  board_games_companion/lib/extensions/player_score_extensions.dart
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

removing unnecessary code
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.freezed.dart
  board_games_companion/lib/models/playthroughs/score_tirebreaker.dart
  board_games_companion/lib/models/playthroughs/score_tirebreaker.freezed.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing logging a game in the past
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/enter_score/enter_score_dialog.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthrough_migration_page.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.dart
  board_games_companion/lib/services/score_service.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing issue with selecting winners among the old scores
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_statistics_page.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing issue with selecting winners among the old scores (#234)
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_statistics_page.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating shimmer effect
  board_games_companion/lib/pages/hot_board_games/hot_board_games_page.dart
  board_games_companion/lib/widgets/board_games/board_game_image.dart
  board_games_companion/lib/widgets/board_games/board_game_tile.dart
  board_games_companion/lib/widgets/common/bgc_shimmer.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding shimmer loading to the board game details page
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_view_model.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_view_model.g.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_visual_state.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_visual_state.freezed.dart
  board_games_companion/lib/pages/hot_board_games/hot_board_games_page.dart
  board_games_companion/lib/widgets/board_games/board_game_image.dart
  board_games_companion/lib/widgets/board_games/board_game_tile.dart
  board_games_companion/lib/widgets/common/bgc_shimmer.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding widget test for the loading shimmer
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/test/mocks/board_game_details_view_model_mock.dart
  board_games_companion/test/mocks/preference_service_mock.dart
  board_games_companion/test/pages/board_game_details_page_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing caching with get override
  board_games_companion/lib/services/injectable_register_module.dart
  board_games_companion/lib/utilities/caching_http_client.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

creating board game cache worker to run on a rasperry pi
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.Core/Constants.cs
  backend/BGC.Core/Extensions/ServiceConnectionExtensions.cs
  backend/BGC.Core/Models/Settings/CacheServiceBusSettings.cs
  backend/BGC.Functions/Constants.cs
  backend/BGC.SearchApi.sln
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/cache/BGC.CacheCore/BGC.CacheCore.csproj
  backend/cache/BGC.CacheCore/BaseUpdateBoardGameCacheService.cs
  backend/cache/BGC.CacheCore/Common/Constants.cs
  backend/cache/BGC.CacheCore/Interfaces/IUpdateBoardGameCacheService.cs
  backend/cache/BGC.CacheCore/Models/CacheBoardGameMessage.cs
  backend/cache/BGC.Functions/.dockerignore
  backend/cache/BGC.Functions/.gitignore
  backend/cache/BGC.Functions/.vscode/extensions.json
  backend/cache/BGC.Functions/BGC.Functions.csproj
  backend/cache/BGC.Functions/Constants.cs
  backend/cache/BGC.Functions/Dockerfile
  backend/cache/BGC.Functions/Functions/UpdateBoardGameCacheFunction.cs
  backend/cache/BGC.Functions/Models/Exceptions/ValidationException.cs
  backend/cache/BGC.Functions/Program.cs
  backend/cache/BGC.Functions/Properties/launchSettings.json
  backend/cache/BGC.Functions/host.json
  backend/cache/BGC.UpdateBoardGameCacheWorker/BGC.UpdateBoardGameCacheWorker.csproj
  backend/cache/BGC.UpdateBoardGameCacheWorker/Program.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/Properties/launchSettings.json
  backend/cache/BGC.UpdateBoardGameCacheWorker/README.md
  backend/cache/BGC.UpdateBoardGameCacheWorker/Services/UpdateBoardGameCacheService.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/Worker.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/appsettings.Development.json
  backend/cache/BGC.UpdateBoardGameCacheWorker/appsettings.json
  backend/tests/BGC.Functions.UnitTests/Functions/UpdateBoardGameCacheFunctionTests.cs
Due: pipelines/search_api/build_pipeline.yaml

updating readme
  backend/cache/BGC.UpdateBoardGameCacheWorker/README.md
Due: none

remove file from repo
  backend/cache/BGC.UpdateBoardGameCacheWorker/appsettings.Development.json
Due: none
