Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/cache_update_function/build_pipeline.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/cache_update_function/build_pipeline.yml: any of: BGC.Functions, BGC.Core
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi

Record the APIM legacy-client shim decision
  .gitignore
  CONTEXT.md
  docs/adr/0001-hetzner-blue-green-deploy.md
  docs/adr/0002-apim-legacy-client-shim.md
Due: none

Normalise line endings via .gitattributes
  .gitattributes
Due: none

Record the APIM legacy-client shim decision (ADR-0002) (#304)
  .gitattributes
  .gitignore
  CONTEXT.md
  docs/adr/0001-hetzner-blue-green-deploy.md
  docs/adr/0002-apim-legacy-client-shim.md
Due: none

ci: temporarily enable show_full_output for issue-agent diagnostics
  .github/workflows/claude-issue-agent.yml
Due: none

Record the Hive→SQLite storage decision (ADR-0003)
  .gitignore
  CONTEXT.md
  docs/adr/0003-sqlite-via-drift-replaces-hive.md
Due: none

Record the Hive→SQLite storage decision (ADR-0003) (#318)
  .gitignore
  CONTEXT.md
  docs/adr/0003-sqlite-via-drift-replaces-hive.md
Due: none

docs: use root README as repo landing page
  .github/WORKFLOWS.md
Due: none

ci: temporarily enable show_full_output for issue-agent diagnostics (#319)
  .github/WORKFLOWS.md
  .github/workflows/claude-issue-agent.yml
Due: none

updating claude workflows due to license limitations
  .github/WORKFLOWS.md
  .github/workflows/claude-issue-agent.yml
  .github/workflows/claude-pr-review.yml
Due: none

updating claude workflows due to license limitations (#321)
  .github/WORKFLOWS.md
  .github/workflows/claude-issue-agent.yml
  .github/workflows/claude-pr-review.yml
Due: none

Add backend CI workflow: build, test, and coverage gate for PRs (#296)
  .github/workflows/search-api-ci.yml
Due: none

Remove dead Azure-era KeyVault config from Search API (#323)
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Program.cs
Due: pipelines/search_api/build_pipeline.yaml

docs: record 1Password service-account deploy-secrets spike (ADR-0004)
  deploy/1password/verify-op-run.sh
  docs/adr/0004-1password-service-account-deploy-secrets.md
Due: none

Add blue-green deploy script, prod compose file, and Caddy snippet (#324)
  deploy/deploy.sh
  deploy/docker-compose.prod.yml
  deploy/sites/bgc.caddy
Due: none

Add publish and deploy jobs to search-api-ci workflow (#325)
  .github/workflows/search-api-ci.yml
Due: none

Fix deploy asset sync to preserve live Caddy cutover state (#325)
  .github/workflows/search-api-ci.yml
Due: none

Add cutover verification runbook for #326
  docs/agents/search-api-cutover-runbook.md
Due: none

Fix wrong settings key name in 1Password verification spike
  deploy/1password/verify-op-run.sh
  docs/adr/0004-1password-service-account-deploy-secrets.md
Due: none

Record the manual secret-remediation decision (ADR-0004)
  docs/adr/0004-manual-secret-remediation.md
Due: none

Record decision to move BGG XML API calls from client to backend (ADR-0004)
  CONTEXT.md
  docs/adr/0004-bgg-calls-move-to-backend.md
Due: none

Record domain model for the personal rating feature
  CONTEXT.md
  docs/adr/0004-personal-rating-as-top-level-field.md
Due: none

Fix games-won stats using highest-score winner logic for lowest-score games
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/test/view_models/playthrough_statistics_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

docs: record player statistics language and the pairwise head-to-head decision
  CONTEXT.md
  docs/adr/0004-pairwise-head-to-head-player-statistics.md
Due: none

docs: record player statistics language and the pairwise head-to-head decision (#356)
  CONTEXT.md
  docs/adr/0004-pairwise-head-to-head-player-statistics.md
Due: none

Add personal player statistics page (#355)
  CONTEXT.md
  board_games_companion/lib/app.dart
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/extensions/route_extensions.dart
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/models/navigation/player_statistics_page_arguments.dart
  board_games_companion/lib/models/navigation/player_statistics_page_arguments.freezed.dart
  board_games_companion/lib/models/player_overall_statistics.dart
  board_games_companion/lib/models/player_overall_statistics.freezed.dart
  board_games_companion/lib/pages/player_statistics/player_statistics_page.dart
  board_games_companion/lib/pages/player_statistics/player_statistics_view_model.dart
  board_games_companion/lib/pages/player_statistics/player_statistics_view_model.g.dart
  board_games_companion/lib/pages/player_statistics/player_statistics_visual_state.dart
  board_games_companion/lib/pages/player_statistics/player_statistics_visual_state.freezed.dart
  board_games_companion/lib/pages/players/players_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_statistics_page.dart
  board_games_companion/lib/services/player_statistics_service.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
  board_games_companion/test/mocks/player_statistics_service_mock.dart
  board_games_companion/test/mocks/players_store_mock.dart
  board_games_companion/test/mocks/playthroughs_store_mock.dart
  board_games_companion/test/mocks/scores_store_mock.dart
  board_games_companion/test/services/player_statistics_service_test.dart
  board_games_companion/test/view_models/player_statistics_view_model_test.dart
  docs/adr/0004-personal-player-statistics.md
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fix: persist all scores and stop the edit guard swallowing updates (#72)
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
  board_games_companion/test/mocks/players_store_mock.dart
  board_games_companion/test/mocks/playthroughs_store_mock.dart
  board_games_companion/test/mocks/scores_store_mock.dart
  board_games_companion/test/stores/game_playthroughs_details_store_test.dart
  board_games_companion/test/view_models/edit_playthrough_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fix: request store reviews silently, capped 3× a year (#39)
  CONTEXT.md
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/pages/base_page_state.dart
  board_games_companion/lib/services/injectable_register_module.dart
  board_games_companion/lib/services/preferences_service.dart
  board_games_companion/lib/services/rate_and_review_service.dart
  board_games_companion/test/mocks/in_app_review_mock.dart
  board_games_companion/test/pages/board_game_details_page_test.dart
  board_games_companion/test/services/rate_and_review_service_test.dart
  docs/adr/0005-silent-in-app-review-capped-per-year.md
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

docs: record keypad entry for exact scores (ADR-0005)
  docs/adr/0005-keypad-entry-for-exact-scores.md
Due: none

docs: record keypad entry for exact scores (ADR-0005) (#366)
  docs/adr/0005-keypad-entry-for-exact-scores.md
Due: none

feat: add keypad entry for exact scores in the Enter Score dialog (#94)
  board_games_companion/lib/pages/enter_score/enter_score_dialog.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.g.dart
  board_games_companion/test/view_models/enter_score_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

docs: record the publishing language and the app-computes/server-renders decision (ADR-0006)
  CONTEXT.md
  docs/adr/0006-published-collections-app-computes-server-renders.md
Due: none

docs: record the publishing language and the app-computes/server-renders decision (ADR-0006) (#378)
  CONTEXT.md
  docs/adr/0006-published-collections-app-computes-server-renders.md
Due: none

fixing bugs and refactoring some of the imperfections
  .claude/settings.json
  .vscode/launch.json
  board_games_companion/devtools_options.yaml
  board_games_companion/lib/pages/enter_score/enter_score_dialog.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.g.dart
  board_games_companion/test/pages/enter_score_dialog_test.dart
  board_games_companion/test/view_models/enter_score_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

docs: replace the score dial with a keypad bottom sheet (ADR-0007)
  CONTEXT.md
  docs/adr/0005-keypad-entry-for-exact-scores.md
  docs/adr/0007-keypad-bottom-sheet-replaces-the-score-dial.md
Due: none

Address PR #327 review: renumber ADR to 0007, guard empty rollback tag, dedupe deploy patterns
  .github/workflows/search-api-ci.yml
  deploy/1password/verify-op-run.sh
  deploy/deploy.sh
  deploy/docker-compose.prod.yml
  docs/adr/0007-1password-service-account-deploy-secrets.md
  docs/agents/search-api-cutover-runbook.md
Due: none

Fix code-review findings on the supporter tip jar
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/pages/base_page_state.dart
  board_games_companion/lib/pages/collections/collections_page.dart
  board_games_companion/lib/pages/home/home_page.dart
  board_games_companion/lib/pages/home/home_page_drawer.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/lib/pages/tip/tip_page.dart
  board_games_companion/lib/pages/tip/tip_restore_visual_state.dart
  board_games_companion/lib/pages/tip/tip_restore_visual_state.freezed.dart
  board_games_companion/lib/pages/tip/tip_view_model.dart
  board_games_companion/lib/pages/tip/tip_view_model.g.dart
  board_games_companion/lib/services/analytics_service.dart
  board_games_companion/lib/services/engagement_prompts_service.dart
  board_games_companion/lib/services/rate_and_review_service.dart
  board_games_companion/lib/services/revenue_cat_purchase_service.dart
  board_games_companion/lib/services/support_prompt_service.dart
  board_games_companion/lib/utilities/screenshot_generator.dart
  board_games_companion/test/mocks/engagement_prompts_service_mock.dart
  board_games_companion/test/services/engagement_prompts_service_test.dart
  board_games_companion/test/services/rate_and_review_service_test.dart
  board_games_companion/test/services/revenue_cat_purchase_service_test.dart
  board_games_companion/test/services/support_prompt_service_test.dart
  board_games_companion/test/view_models/home_view_model_test.dart
  board_games_companion/test/view_models/tip_view_model_test.dart
  docs/adr/0007-tip-jar-monetization-invariant.md
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

few refinements of the entry dialog score
  .vscode/launch.json
  board_games_companion/devtools_options.yaml
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/enter_score/enter_score_sheet.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.g.dart
  board_games_companion/test/pages/enter_score_sheet_test.dart
  board_games_companion/test/view_models/enter_score_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml
