Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/cache_update_function/build_pipeline.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/cache_update_function/build_pipeline.yml: any of: BGC.Functions, BGC.Core
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi

left aligned page title
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/collections/collections_page.dart
  board_games_companion/lib/pages/hot_board_games/hot_board_games_page.dart
  board_games_companion/lib/pages/players/players_page.dart
  board_games_companion/lib/pages/plays/plays_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing updating of the players
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/home/home_page.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/lib/pages/players/players_page.dart
  board_games_companion/lib/pages/players/players_view_model.dart
  board_games_companion/lib/pages/players/players_view_model.g.dart
  board_games_companion/lib/pages/players/players_visual_state.dart
  board_games_companion/lib/pages/players/players_visual_state.freezed.dart
  board_games_companion/lib/widgets/common/generic_error_message_widget.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing incorrect padding on the screenshot generator
  board_games_companion/lib/utilities/screenshot_generator.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing did pop navigation. fixing custom board game details not showing
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_view_model.dart
  board_games_companion/lib/pages/create_board_game/create_board_game_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/player/player_page.dart
  board_games_companion/lib/pages/playthroughs/playthrough_migration_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

1.15.0 - Few fixes after testing (#268)
  board_games_companion/ios/Podfile.lock
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_view_model.dart
  board_games_companion/lib/pages/collections/collections_page.dart
  board_games_companion/lib/pages/create_board_game/create_board_game_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/home/home_page.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/lib/pages/hot_board_games/hot_board_games_page.dart
  board_games_companion/lib/pages/player/player_page.dart
  board_games_companion/lib/pages/players/players_page.dart
  board_games_companion/lib/pages/players/players_view_model.dart
  board_games_companion/lib/pages/players/players_view_model.g.dart
  board_games_companion/lib/pages/players/players_visual_state.dart
  board_games_companion/lib/pages/players/players_visual_state.freezed.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/playthroughs/playthrough_migration_page.dart
  board_games_companion/lib/pages/settings/settings_page.dart
  board_games_companion/lib/utilities/screenshot_generator.dart
  board_games_companion/lib/widgets/common/generic_error_message_widget.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing tests
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
  board_games_companion/test/mocks/search_store_mock.dart
  board_games_companion/test/view_models/home_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing more tests
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
  board_games_companion/test/mocks/plays_view_model_mock.dart
  board_games_companion/test/view_models/home_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

changing report type
  pipelines/mobile_app/build-pipeline.yml
Due: none

trying with v1 code coverage publisher
  pipelines/mobile_app/build-pipeline.yml
Due: none

adding missing path to sources parameter
  pipelines/mobile_app/build-pipeline.yml
Due: none

adding commetns
  pipelines/mobile_app/build-pipeline.yml
Due: none

reverting to html inline and cobertura report types
  pipelines/mobile_app/build-pipeline.yml
Due: none

fixing path to sources?
  pipelines/mobile_app/build-pipeline.yml
Due: none

trying v2 again
  pipelines/mobile_app/build-pipeline.yml
Due: none

removing publish report result task entirely
  pipelines/mobile_app/build-pipeline.yml
Due: none

removing commented out part of the pipeline
  pipelines/mobile_app/build-pipeline.yml
Due: none

one more comment removed
  pipelines/mobile_app/build-pipeline.yml
Due: none

fixing an issue with sorting scores
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_history_page.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing an issue with numerical vs cooperative games when querying scores
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/models/hive/score.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

1.15.1 - Bug fixes (#269)
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/models/hive/score.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_history_page.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
  board_games_companion/test/extensions/scores_extensions_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding game family filter
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/pages/collections/collections_filter_panel.dart
  board_games_companion/lib/pages/collections/collections_view_model.dart
  board_games_companion/lib/pages/collections/collections_view_model.g.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding docker compose
  backend/BGC.Core/Models/Settings/MongoDbSettings.cs
  backend/BGC.SearchApi.sln
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Dockerfile.original
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/README.md
  backend/BGC.SearchApi/dockerfile
  backend/BGC.SearchApi/search.http
  backend/cache/BGC.UpdateBoardGameCacheWorker/README - Copy.md
  backend/docker-compose.dcproj
  backend/docker-compose.override.yml
  backend/docker-compose.yml
  backend/launchSettings.json
Due: pipelines/search_api/build_pipeline.yaml

Adding docker compose to Search APIs (#272)
  backend/BGC.Core/Models/Settings/MongoDbSettings.cs
  backend/BGC.SearchApi.sln
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Dockerfile.original
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/README.md
  backend/BGC.SearchApi/dockerfile
  backend/BGC.SearchApi/search.http
  backend/cache/BGC.UpdateBoardGameCacheWorker/README - Copy.md
  backend/docker-compose.dcproj
  backend/docker-compose.override.yml
  backend/docker-compose.yml
  backend/launchSettings.json
Due: pipelines/search_api/build_pipeline.yaml

upgrading to .net 9
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Models/Exceptions/BggException.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/CacheService.cs
  backend/BGC.SearchApi/dockerfile
  backend/BGC.SearchApi/search.http
  backend/cache/BGC.CacheCore/BGC.CacheCore.csproj
  backend/cache/BGC.Functions/BGC.Functions.csproj
  backend/cache/BGC.Functions/Program.cs
  backend/cache/BGC.Functions/host.json
  backend/cache/BGC.UpdateBoardGameCacheWorker/BGC.UpdateBoardGameCacheWorker.csproj
  backend/tests/BGC.Core.UnitTests/BGC.Core.UnitTests.csproj
  backend/tests/BGC.Functions.UnitTests/BGC.Functions.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/Usings.cs
  backend/tests/BGC.Tests.Core/BGC.Tests.Core.csproj
Due: pipelines/search_api/build_pipeline.yaml

Upgrading Search API to .NET 9 (#273)
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Models/Exceptions/BggException.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/CacheService.cs
  backend/BGC.SearchApi/dockerfile
  backend/BGC.SearchApi/search.http
  backend/cache/BGC.CacheCore/BGC.CacheCore.csproj
  backend/cache/BGC.Functions/BGC.Functions.csproj
  backend/cache/BGC.Functions/Program.cs
  backend/cache/BGC.Functions/host.json
  backend/cache/BGC.UpdateBoardGameCacheWorker/BGC.UpdateBoardGameCacheWorker.csproj
  backend/tests/BGC.Core.UnitTests/BGC.Core.UnitTests.csproj
  backend/tests/BGC.Functions.UnitTests/BGC.Functions.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/Usings.cs
  backend/tests/BGC.Tests.Core/BGC.Tests.Core.csproj
Due: pipelines/search_api/build_pipeline.yaml

updating to ubuntu 24.04
  pipelines/search_api/build_pipeline.yaml
  pipelines/search_api/deploy_pipeline.yaml
Due: none

Updating to ubuntu 24.04 to support .NET 9 (#274)
  pipelines/search_api/build_pipeline.yaml
  pipelines/search_api/deploy_pipeline.yaml
Due: none

adding XML sanitizing stream, to remove illegal chars
  backend/BGC.Core/Helpers/XmlSanitizingStream.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/search.http
Due: pipelines/search_api/build_pipeline.yaml

Adding XML sanitizing stream, to remove illegal chars (#275)
  backend/BGC.Core/Helpers/XmlSanitizingStream.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/search.http
Due: pipelines/search_api/build_pipeline.yaml

trying to sanitize XML version 1.1
  backend/BGC.Core/Helpers/XmlSanitizingStream.cs
Due: none

adding serilog logging
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/appsettings.json
  backend/BGC.SearchApi/search.http
Due: pipelines/search_api/build_pipeline.yaml

adding serilog sink to app insights
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Program.cs
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/search_api/build_pipeline.yaml

using .NET 9 when running tests
  pipelines/search_api/build_pipeline.yaml
Due: none

using warning as the default level for production
  backend/BGC.SearchApi/appsettings.json
Due: pipelines/search_api/build_pipeline.yaml

updating listening port to 8080
  backend/BGC.SearchApi/dockerfile
Due: pipelines/search_api/build_pipeline.yaml

use get string instead of a stream when calling BGG API
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/dockerfile
Due: pipelines/search_api/build_pipeline.yaml

going back to streams as the string is not an issue. Adding decompression logic to the httpclient
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/Program.cs
Due: pipelines/search_api/build_pipeline.yaml

removing unnecessary xml sanitizer
  backend/BGC.Core/Helpers/XmlSanitizingStream.cs
  backend/BGC.Core/Services/BggService.cs
Due: none

removing deleted namespace
  backend/BGC.Core/Services/BggService.cs
Due: none

updating readme
  backend/BGC.SearchApi/README.md
Due: pipelines/search_api/build_pipeline.yaml
