Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/cache_update_function/build_pipeline.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/cache_update_function/build_pipeline.yml: any of: BGC.Functions, BGC.Core
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi

fixing capitalization
  backend/BGC.Core/Constants.cs
Due: none

updating prod infra
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

1.12.0 - Forgot to add prod infra changes (#224)
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

handling errors propertly when searching and making yearPublished optional
  board_games_companion/lib/models/api/search/board_game_search_dto.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.freezed.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.g.dart
  board_games_companion/lib/pages/home/home_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

handling errors propertly when searching and making yearPublished optional (#225)
  board_games_companion/lib/models/api/search/board_game_search_dto.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.freezed.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.g.dart
  board_games_companion/lib/pages/home/home_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing the incorrect way of retrieving user's locale
  board_games_companion/lib/widgets/search/bgg_search.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing the incorrect way of retrieving user's locale (#226)
  board_games_companion/lib/widgets/search/bgg_search.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

delaying enquing of the messages to space out consumption of them in time
  backend/BGC.SearchApi/Services/CacheService.cs
  backend/BGC.SearchApi/search.http
Due: pipelines/search_api/build_pipeline.yaml

delaying enquing of the messages to space out consumption of them in time (#227)
  backend/BGC.SearchApi/Services/CacheService.cs
  backend/BGC.SearchApi/search.http
Due: pipelines/search_api/build_pipeline.yaml

adding sorting of the player scores
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

attempt at moving scores around correcty
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_history_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding retry and timout configuration to the function
  backend/BGC.Functions/BGC.Functions.csproj
  backend/BGC.Functions/Constants.cs
  backend/BGC.Functions/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.Functions/Program.cs
  backend/BGC.Functions/host.json
Due: none

adding retry and timout configuration to the function (#228)
  backend/BGC.Functions/BGC.Functions.csproj
  backend/BGC.Functions/Constants.cs
  backend/BGC.Functions/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.Functions/Program.cs
  backend/BGC.Functions/host.json
Due: none

updating function nuget packages
  backend/BGC.Functions/BGC.Functions.csproj
Due: none

updating function nuget packages (#229)
  backend/BGC.Functions/BGC.Functions.csproj
Due: none

Adding shimmer load to the hot board games instead of a spinner
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/lib/pages/hot_board_games/hot_board_games_page.dart
  board_games_companion/lib/pages/hot_board_games/hot_board_games_page_visual_state.dart
  board_games_companion/lib/pages/hot_board_games/hot_board_games_page_visual_state.freezed.dart
  board_games_companion/lib/pages/hot_board_games/hot_board_games_view_model.dart
  board_games_companion/lib/pages/hot_board_games/hot_board_games_view_model.g.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

reducing timout to 20 seconds to reduce cost of running
  backend/BGC.Functions/host.json
Due: none

reducing timout to 20 seconds to reduce cost of running (#230)
  backend/BGC.Functions/host.json
Due: none

updating logs and sampling config to reduce cost
  backend/BGC.Functions/host.json
Due: none

updating logs and sampling config to reduce cost (#231)
  backend/BGC.Functions/host.json
Due: none

completing the logic to reorder player scores
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding tiebreaker models and test
  board_games_companion/lib/extensions/scores_extensions.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.freezed.dart
  board_games_companion/lib/models/playthroughs/score_tirebreaker.dart
  board_games_companion/lib/models/playthroughs/score_tirebreaker.freezed.dart
  board_games_companion/lib/models/playthroughs/tiebreaker.dart
  board_games_companion/lib/models/playthroughs/tiebreaker.freezed.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/test/models/playthrough_details_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

introducing visual states and refactoring of the code
  board_games_companion/lib/models/api/search/board_game_search_dto.freezed.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.g.dart
  board_games_companion/lib/models/playthroughs/playthrough_details.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page_visual_states.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page_visual_states.freezed.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.g.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.dart
  board_games_companion/lib/pages/edit_playthrough/playthrough_scores_visual_state.freezed.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
  board_games_companion/test/models/playthrough_details_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

configuratin retention in days and sampling for AI
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

configuratin retention in days and sampling for AI (#232)
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

adding readme file about purging application insights
  cloud_infrastructure/README.md
Due: pipelines/infra/deploy-pippeline.yml

updating readme
  cloud_infrastructure/README.md
Due: pipelines/infra/deploy-pippeline.yml

fixing an issue with player's missing name when importing plays
  board_games_companion/lib/extensions/xml_element_extensions.dart
  board_games_companion/lib/services/board_games_geek_service.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing an issue with importing collection removing existing settings and prices from the saved board game
  board_games_companion/lib/services/board_games_service.dart
  board_games_companion/test/mocks/board_games_geek_service_mock.dart
  board_games_companion/test/mocks/board_games_search_service_mock.dart
  board_games_companion/test/mocks/board_games_store_mock.dart
  board_games_companion/test/mocks/collections_view_model_mock.dart
  board_games_companion/test/mocks/hive_box_mock.dart
  board_games_companion/test/mocks/hot_board_games_view_model_mock.dart
  board_games_companion/test/mocks/score_hive_box_mock.dart
  board_games_companion/test/services/board_games_service_test.dart
  board_games_companion/test/services/score_service_test.dart
  board_games_companion/test/view_models/home_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing imports
  board_games_companion/test/services/score_service_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

trying out docker hub as image registry
  pipelines/search_api/build_pipeline.yaml
Due: none

adding login step to be more explicit
  pipelines/search_api/build_pipeline.yaml
Due: none

updating repo
  pipelines/search_api/build_pipeline.yaml
Due: none

updating image registry to docker hub
  pipelines/search_api/deploy_pipeline.yaml
Due: none

fixing incorrect script execution
  pipelines/search_api/deploy_pipeline.yaml
Due: none

updating prod step to use docker hub
  pipelines/search_api/deploy_pipeline.yaml
Due: none

removing quotes
  pipelines/search_api/deploy_pipeline.yaml
Due: none

using the correct service connection for prod
  pipelines/search_api/deploy_pipeline.yaml
Due: none

removing acr from the shared infra
  cloud_infrastructure/terraform/shared/main.tf
  cloud_infrastructure/terraform/shared/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml
