Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi

adding dart-define steps
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

updating prod infra and clean up of variables
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

updating infra steps
  pipelines/infra/azure-resource-provisioning-template.yml
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

trying out shared spn
  pipelines/infra/azure-resource-provisioning-template.yml
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

configuring terraform backend in the main.tf file
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
  pipelines/infra/azure-resource-provisioning-template.yml
Due: pipelines/infra/deploy-pippeline.yml

now
  pipelines/infra/azure-resource-provisioning-template.yml
Due: pipelines/infra/deploy-pippeline.yml

asda
  pipelines/infra/azure-resource-provisioning-template.yml
Due: pipelines/infra/deploy-pippeline.yml

removing backend config
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing references
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fix now
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing dependencies
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

removing condition
  pipelines/infra/deploy-pippeline.yml
Due: pipelines/infra/deploy-pippeline.yml

fixing wrong resource group for prod serach api deployment
  pipelines/infra/azure-resource-provisioning-template.yml
  pipelines/search_api/deploy_pipeline.yaml
  pipelines/templates/update_container_secrets.yaml
Due: pipelines/infra/deploy-pippeline.yml

fixing updating secrects
  pipelines/templates/update_container_secrets.yaml
Due: none

removing unnecessary commetn
  pipelines/templates/update_container_secrets.yaml
Due: none

Ensuring that search errors are handled
  board_games_companion/lib/services/board_games_search_service.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
Due: pipelines/mobile_app/build-pipeline.yml

adding application insights
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

adding prefix
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

removing output
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing incorrect secret name
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

using workspace id for the appi
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

removing secrete from the template
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

ignoring secret changes
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing incorrect sytanx
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

adding empty sections
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing wrong reference syntax
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

adding app insights env variable
  backend/.editorconfig
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/BggService.cs
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

disabling telementry in debug and fixing env in the container
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/search.http
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

using connection string as opposed to instrumentation key
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

adding app insights to the deployment step
  cloud_infrastructure/terraform/dev/main.tf
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/infra/deploy-pippeline.yml

fixing wrong env syntax
  pipelines/search_api/deploy_pipeline.yaml
Due: none

updating prod infra
  cloud_infrastructure/terraform/prod/main.tf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/infra/deploy-pippeline.yml

forgot about this
  cloud_infrastructure/terraform/prod/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing app insights connection string variable
  pipelines/search_api/deploy_pipeline.yaml
Due: none

adding app insights for the apim
  cloud_infrastructure/terraform/shared/main.tf
  cloud_infrastructure/terraform/shared/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

actively updating the playthrough time
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
Due: pipelines/mobile_app/build-pipeline.yml

fixing issue with setting score to 0 points
  board_games_companion/lib/models/hive/score.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml

fixing app iOS deployment pipeline
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

1.11.0 - Few small fixes (#202)
  board_games_companion/lib/models/hive/score.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  pipelines/mobile_app/deploy-pipeline.yml
Due: pipelines/mobile_app/build-pipeline.yml
