Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/cache_update_function/build_pipeline.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/cache_update_function/build_pipeline.yml: any of: BGC.Functions, BGC.Core
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi

started working on initial avatars
  board_games_companion/lib/models/hive/player.dart
  board_games_companion/lib/models/hive/player.freezed.dart
  board_games_companion/lib/widgets/player/player_avatar.dart
  board_games_companion/lib/widgets/player/player_image.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding a TODO
  board_games_companion/lib/widgets/player/player_avatar.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding ability to set initials as a default profile avatar. Refactoring PlayerScore to not take player as a nullable.
  board_games_companion/assets/default_avatar.png
  board_games_companion/letter-avatars.png
  board_games_companion/lib/common/app_colors.dart
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/common/constants.dart
  board_games_companion/lib/common/dimensions.dart
  board_games_companion/lib/extensions/player_score_extensions.dart
  board_games_companion/lib/models/hive/player.dart
  board_games_companion/lib/models/hive/player.freezed.dart
  board_games_companion/lib/models/hive/player.g.dart
  board_games_companion/lib/models/player_score.dart
  board_games_companion/lib/models/player_score.freezed.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
  board_games_companion/lib/pages/enter_score/enter_score_view_model.dart
  board_games_companion/lib/pages/player/player_page.dart
  board_games_companion/lib/pages/player/player_view_model.dart
  board_games_companion/lib/pages/player/player_view_model.g.dart
  board_games_companion/lib/pages/players/players_page.dart
  board_games_companion/lib/pages/plays/board_game_playthrough.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthrough_migration_page.dart
  board_games_companion/lib/pages/playthroughs/playthrough_migration_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthrough_players_selection_page.dart
  board_games_companion/lib/pages/playthroughs/playthrough_statistics_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_history_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_log_game_view_model.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_statistics_page.dart
  board_games_companion/lib/stores/game_playthroughs_details_store.dart
  board_games_companion/lib/widgets/common/custom_icon_button.dart
  board_games_companion/lib/widgets/player/player_avatar.dart
  board_games_companion/lib/widgets/player/player_image.dart
  board_games_companion/lib/widgets/player/player_initials.dart
  board_games_companion/lib/widgets/playthrough/player_score_rank_avatar.dart
  board_games_companion/test/view_models/edit_playthrough_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating logic of updating avatar color
  board_games_companion/lib/common/app_colors.dart
  board_games_companion/lib/models/hive/player.dart
  board_games_companion/lib/models/hive/player.freezed.dart
  board_games_companion/lib/models/hive/player.g.dart
  board_games_companion/lib/pages/player/player_page.dart
  board_games_companion/lib/pages/player/player_view_model.dart
  board_games_companion/lib/widgets/player/player_avatar.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing bad refactor
  board_games_companion/lib/widgets/player/player_image.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding border to indicate which color is currently selected
  board_games_companion/lib/pages/player/player_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing the condition
  board_games_companion/lib/pages/player/player_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

removing avatar color ideas
  board_games_companion/letter-avatars.png
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing get initials logic
  board_games_companion/lib/models/hive/player.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

logging instead of reporting a crash
  board_games_companion/lib/pages/player/player_page.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing layout errors
  board_games_companion/lib/widgets/player/player_avatar.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing docker and docker compose for running the API in VSCode
  .idea/.gitignore
  .idea/Board%20Games%20Companion.iml
  .idea/codeStyles/Project.xml
  .idea/modules.xml
  .idea/vcs.xml
  .vscode/launch.json
  .vscode/tasks.json
  backend/.env.windows.example
  backend/.gitignore
  backend/BGC.SearchApi/Dockerfile.original
  backend/BGC.SearchApi/dockerfile
  backend/docker-compose.dcproj
  backend/docker-compose.override.yml
  backend/docker-compose.yml
  backend/launchSettings.json
Due: pipelines/search_api/build_pipeline.yaml

getting docker compose to work
  .vscode/launch.json
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/dockerfile
  backend/docker-compose.yml
Due: pipelines/search_api/build_pipeline.yaml

getting the app to run but still can't debug it
  .vscode/launch.json
  .vscode/tasks.json
  backend/BGC.SearchApi/Properties/launchSettings.json
  backend/BGC.SearchApi/dockerfile
  backend/docker-compose.yml
Due: pipelines/search_api/build_pipeline.yaml

getting the app to a point where debugging works from vs code
  .vscode/launch.json
  .vscode/tasks.json
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/dockerfile
  backend/docker-compose.yml
Due: pipelines/search_api/build_pipeline.yaml

adding open telemetry and fixing launching swagger
  .vscode/launch.json
  backend/BGC.Core/Constants.cs
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/appsettings.json
  backend/cache/BGC.Functions/BGC.Functions.csproj
  backend/config/otel-collector-config.yaml
  backend/docker-compose.yml
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
Due: pipelines/search_api/build_pipeline.yaml

fixing getting open telemetry logs
  .vscode/launch.json
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/dockerfile
  backend/BGC.SearchApi/search.http
  backend/docker-compose.yml
Due: pipelines/search_api/build_pipeline.yaml

updating open telemetry setup to use loki and grafana only
  backend/config/grafana-datasources.yaml
  backend/config/loki-config.yaml
  backend/config/otel-collector-config.yaml
  backend/docker-compose.yml
Due: none

moving to global packages management
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.SearchApi.sln
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/Directory.Build.props
  backend/Directory.Packages.props
  backend/cache/BGC.CacheCore/BGC.CacheCore.csproj
  backend/cache/BGC.Functions/.dockerignore
  backend/cache/BGC.Functions/.gitignore
  backend/cache/BGC.Functions/.vscode/extensions.json
  backend/cache/BGC.Functions/BGC.Functions.csproj
  backend/cache/BGC.Functions/Constants.cs
  backend/cache/BGC.Functions/Dockerfile
  backend/cache/BGC.Functions/Functions/UpdateBoardGameCacheFunction.cs
  backend/cache/BGC.Functions/Models/Exceptions/ValidationException.cs
  backend/cache/BGC.Functions/Program.cs
  backend/cache/BGC.Functions/Properties/launchSettings.json
  backend/cache/BGC.Functions/host.json
  backend/cache/BGC.UpdateBoardGameCacheWorker/BGC.UpdateBoardGameCacheWorker.csproj
  backend/tests/BGC.Core.UnitTests/BGC.Core.UnitTests.csproj
  backend/tests/BGC.Core.UnitTests/Services/BggServiceTests.cs
  backend/tests/BGC.Core.UnitTests/Usings.cs
  backend/tests/BGC.Functions.UnitTests/BGC.Functions.UnitTests.csproj
  backend/tests/BGC.Functions.UnitTests/Usings.cs
  backend/tests/BGC.SearchApi.IntegrationTests/BGC.SearchApi.IntegrationTests.csproj
  backend/tests/BGC.SearchApi.IntegrationTests/Endpoints/SearchEndpointTests.cs
  backend/tests/BGC.SearchApi.IntegrationTests/Helpers/WebApiApp.cs
  backend/tests/BGC.SearchApi.UnitTests/Endpoints/SearchEndpointTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Helpers/WebApiApp.cs
  backend/tests/BGC.SearchApi.UnitTests/Usings.cs
  backend/tests/BGC.Tests.Core/BGC.Tests.Core.csproj
  backend/tests/BGC.Tests.Core/Extensions/GenericExtensions.cs
  backend/tests/BGC.UpdateBoardGameCacheWorker.UnitTests/.editorconfig
  backend/tests/BGC.UpdateBoardGameCacheWorker.UnitTests/BGC.UpdateBoardGameCacheWorker.UnitTests.csproj
  backend/tests/BGC.UpdateBoardGameCacheWorker.UnitTests/Services/UpdateBoardGameCacheServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

fixing all tests
  backend/BGC.SearchApi/Common/Constants.cs
  backend/tests/BGC.SearchApi.IntegrationTests/Helpers/WebApiApp.cs
Due: pipelines/search_api/build_pipeline.yaml

fixing docker command
  pipelines/search_api/build_pipeline.yaml
Due: none

removing bad condition
  pipelines/search_api/build_pipeline.yaml
Due: none

some updates to get docker working locally
  .vscode/launch.json
  backend/.env.windows.example
  backend/BGC.SearchApi/dockerfile
  backend/docker-compose.yml
Due: pipelines/search_api/build_pipeline.yaml

claude workflow init setup
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: none

adding claude's automatic PR
  .github/workflows/claude-pr-review.yml
Due: none

adding readme about API ket
  .github/README.md
Due: none

adding context and ADR for moving to hetzner
  CONTEXT.md
  docs/adr/0001-hetzner-blue-green-deploy.md
Due: none

adding AI coding conventions
  CLAUDE.md
  docs/coding-conventions.md
Due: none

docs(triage): document ready-for-agent trigger and spec filter (#291)
  docs/agents/triage-labels.md
Due: none

ci: add Claude issue agent workflow skeleton (#293)
  .github/workflows/claude-issue-agent.yml
Due: none

chore(skills): vendor /implement and /tdd for the CI agent (#292)
  .claude/skills/README.md
  .claude/skills/implement/SKILL.md
  .claude/skills/tdd/SKILL.md
  .claude/skills/tdd/mocking.md
  .claude/skills/tdd/tests.md
Due: none

ci: gate agent on blockers, add verification bar and failure path (#294)
  .github/workflows/claude-issue-agent.yml
Due: none

ci: frontier auto-advance dispatches unblocked dependents on close (#295)
  .github/workflows/claude-issue-agent.yml
Due: none

adding themeing docs
  CLAUDE.md
  docs/app-theming.html
  docs/app-theming.md
Due: none

adding themeing docs (#299)
  CLAUDE.md
  docs/app-theming.html
  docs/app-theming.md
Due: none

fixing for the claude's PR review github action
  .github/workflows/claude-pr-review.yml
Due: none

fixing for the claude's PR review github action (#300)
  .github/workflows/claude-pr-review.yml
Due: none

fixing creation of sub-issues when running to-tickets skill
  docs/agents/issue-tracker.md
Due: none

fixing creation of sub-issues when running to-tickets skill (#301)
  docs/agents/issue-tracker.md
Due: none
