Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

azure-pipelines.yml:
  name: $(app.version).$(Build.BuildID)_$(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'pwd
  
      ls
  
      dotnet restore
  
      dotnet build -c Release
  
      '
  ...

pipelines/functions_apps/build_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'dotnet restore
  
      dotnet build -c Release
  
      '
    displayName: Restore & Build
  ...

pipelines/functions_apps/deploy_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    jobs:
    - job: PublishFunctions
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: none
      - task: DownloadPipelineArtifact@2
        displayName: Download Artifacts
        inputs:
  ...

pipelines/infra/deploy-pippeline.yml:
  name: $(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    variables:
    - group: BGC-DEV-INFRA
    jobs:
    - deployment: ProvisionAzureResources
      displayName: Provision Azure Resources
      environment: DEV
      strategy:
        runOnce:
          deploy:
            steps:
  ...

pipelines/mobile_app/build-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  jobs:
  - job: Build
    timeoutInMinutes: 20
    pool:
      vmImage: macOS-latest
    steps:
    - task: FlutterInstall@0
      displayName: Install Flutter
      inputs:
        mode: auto
        channel: stable
        version: custom
  ...

pipelines/mobile_app/deploy-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: CdBuildAndroid
    jobs:
    - job: BuildAndroid
      condition: or(eq('${{ parameters.publishAndroid }}', 'true'), in(variables['Build.Reason'], 'BatchedCI', 'IndividualCI'))
      timeoutInMinutes: 20
      pool:
  ...

pipelines/search_api/build_pipeline.yaml:
  name: $(Build.BuildId)
  pool:
    vmImage: ubuntu-22.04
    workspace:
      clean: all
  jobs:
  - job: CI
    displayName: CI
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 7.x SDK
      inputs:
        version: 7.x
    - task: DotNetCoreCLI@2
      displayName: Build Search API
      inputs:
  ...

adding mocks and updating test cases
  board_games_companion/test/services/score_service_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding commant
  board_games_companion/test/services/score_service_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding test step to the CI build and adding a score save test
  board_games_companion/test/services/score_service_test.dart
  pipelines/mobile_app/build-pipeline.yml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

creating multiple jobs on the CI pipeline and adding publish coverage steps
  pipelines/mobile_app/build-pipeline.yml
Due: none

report path update and jobs dependency
  pipelines/mobile_app/build-pipeline.yml
Due: none

updating KV permissions
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing missing sources for code coverage
  pipelines/mobile_app/build-pipeline.yml
Due: none

small improvements to the playthrough saving and code coverage generator task
  board_games_companion/lib/services/playthroughs_service.dart
  pipelines/mobile_app/build-pipeline.yml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding playthrough service tests
  board_games_companion/test/mocks/playthrough_hive_box_mock.dart
  board_games_companion/test/mocks/score_service_mock.dart
  board_games_companion/test/services/playthrough_service_test.dart
  board_games_companion/test/services/score_service_test.dart
  board_games_companion/test/widget_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding a test to verify player scores being saved
  board_games_companion/test/services/playthrough_service_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

small test update
  board_games_companion/test/services/playthrough_service_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

disabling rbac on the kv as an access policy
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

trying out creating a KV with access policies only
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

retrying creating the kv entries
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml

fixing unit tests and editorconfig
  backend/BGC.SearchApi.UnitTests/.editorconfig
  backend/BGC.SearchApi.UnitTests/Endpoints/SearchEndpointTests.cs
  backend/BGC.SearchApi.UnitTests/Helpers/WebApiApp.cs
  backend/BGC.SearchApi/Services/CacheService.cs
Due: pipelines/search_api/build_pipeline.yaml

adding code to retrieve key vault config in the search api
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Program.cs
  cloud_infrastructure/terraform/dev/main.tf
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

fixing integration tests
  backend/BGC.SearchApi.UnitTests/Helpers/WebApiApp.cs
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Program.cs
Due: pipelines/search_api/build_pipeline.yaml

fixing a typo
  backend/BGC.SearchApi/Program.cs
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/widgets/common/board_game/collection_flags.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

fixing queue's name kv value
  backend/BGC.SearchApi/Program.cs
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

fixing insufficient premissions for KV
  backend/BGC.SearchApi/search.http
  cloud_infrastructure/terraform/dev/main.tf
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

creating new cache queue function
  BGC.Functions/Functions/GameDetailsFunction.cs
  BGC.Functions/Program.cs
  backend/BGC.CacheQueueFunction/.dockerignore
  backend/BGC.CacheQueueFunction/.gitignore
  backend/BGC.CacheQueueFunction/.vscode/extensions.json
  backend/BGC.CacheQueueFunction/BGC.CacheQueueFunction.csproj
  backend/BGC.CacheQueueFunction/Dockerfile
  backend/BGC.CacheQueueFunction/Program.cs
  backend/BGC.CacheQueueFunction/Properties/launchSettings.json
  backend/BGC.CacheQueueFunction/host.json
  backend/BGC.SearchApi.sln
  backend/tests/BGC.SearchApi.UnitTests/.editorconfig
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/Endpoints/SearchEndpointTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Helpers/HttpClientHelpers.cs
  backend/tests/BGC.SearchApi.UnitTests/Helpers/WebApiApp.cs
  backend/tests/BGC.SearchApi.UnitTests/Repositories/BoardGamesRepositoryTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/BggServiceTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/ErrorServiceTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Usings.cs
Due: azure-pipelines.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml

Setting up bare bones for the cache queue worker function
  backend/BGC.CacheQueueFunction/BGC.CacheQueueFunction.csproj
  backend/BGC.CacheQueueFunction/Constants.cs
  backend/BGC.CacheQueueFunction/Functions/CacheQueueWorkerFunction.cs
  backend/BGC.CacheQueueFunction/Program.cs
  backend/BGC.CacheQueueFunction/host.json
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

adding console logs
  backend/BGC.CacheQueueFunction/Program.cs
Due: none

progress on processing the board games to cache
  backend/BGC.CacheQueueFunction/BGC.CacheQueueFunction.csproj
  backend/BGC.CacheQueueFunction/Functions/CacheQueueWorkerFunction.cs
  backend/BGC.CacheQueueFunction/Models/CacheBoardGameMessage.cs
  backend/BGC.CacheQueueFunction/Models/Exceptions/ValidationException.cs
  backend/BGC.CacheQueueFunction/Program.cs
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.Core/Constants.cs
  backend/BGC.Core/Models/BoardGameGeek/BoardGameDetails.cs
  backend/BGC.Core/Models/BoardGameGeek/BoardGameSearchResponse.cs
  backend/BGC.Core/Models/Dtos/BoardGameDetailsDto.cs
  backend/BGC.Core/Models/Exceptions/XmlParsingException.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.Core/Services/Interfaces/IBggService.cs
  backend/BGC.SearchApi.sln
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Models/Domain/BoardGame.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/Interfaces/IBggService.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/Services/BggServiceTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/ErrorServiceTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

parsing board game XML details
  backend/BGC.CacheQueueFunction/BGC.CacheQueueFunction.csproj
  backend/BGC.CacheQueueFunction/Constants.cs
  backend/BGC.CacheQueueFunction/Functions/CacheQueueWorkerFunction.cs
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.CacheQueueFunction/Program.cs
  backend/BGC.Core/Models/Dtos/BoardGameDetailsDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameDetailsResponse.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/ErrorService.cs
Due: pipelines/search_api/build_pipeline.yaml

Moving re-usable models into the Core project and using XML serialization attributes for the search results
  backend/BGC.CacheQueueFunction/BGC.CacheQueueFunction.csproj
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.Core/Models/BoardGameGeek/BoardGameDetails.cs
  backend/BGC.Core/Models/BoardGameGeek/BoardGameSearchResponse.cs
  backend/BGC.Core/Models/Domain/BoardGame.cs
  backend/BGC.Core/Models/Domain/NamedEntity.cs
  backend/BGC.Core/Models/Dtos/BoardGameDetailsResponse.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameDetailsDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameDetailsResponseDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameSearchItemDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameSearchResponseDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/YearPublishedDto.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.Core/Services/Interfaces/IBggService.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Repositories/BoardGamesRepository.cs
  backend/BGC.SearchApi/Repositories/Interfaces/IBoardGamesRepository.cs
  backend/BGC.SearchApi/Services/ErrorService.cs
  backend/BGC.SearchApi/Services/Interfaces/IErrorService.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/tests/BGC.SearchApi.UnitTests/Repositories/BoardGamesRepositoryTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

adding mongo service to the update cache function
  backend/BGC.CacheQueueFunction/BGC.CacheQueueFunction.csproj
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.CacheQueueFunction/Program.cs
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.Core/Constants.cs
  backend/BGC.Core/Models/Settings/MongoDbSettings.cs
  backend/BGC.Core/Repositories/BoardGamesRepository.cs
  backend/BGC.Core/Repositories/Interfaces/IBoardGamesRepository.cs
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Models/Settings/AppSettings.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/Repositories/BoardGamesRepositoryTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

adding mongo upsert
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.CacheQueueFunction/Program.cs
  backend/BGC.Core/Models/Domain/BoardGame.cs
  backend/BGC.Core/Repositories/BoardGamesRepository.cs
  backend/BGC.Core/Repositories/Interfaces/IBoardGamesRepository.cs
  backend/BGC.Core/Services/Interfaces/IBggService.cs
Due: none

mapping bgg details to domain model
  backend/.editorconfig
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.CacheQueueFunction/Program.cs
  backend/BGC.Core/Constants.cs
  backend/BGC.Core/Extensions/BoardGameDetailsDtoExtensions.cs
  backend/BGC.Core/Extensions/LinkDtoExtensions.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameDetailsDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameSearchItemDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameSearchResponseDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/LinkDtoType.cs
  backend/BGC.Core/Models/Exceptions/BoardGameNotFoundException.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/tests/BGC.SearchApi.UnitTests/Repositories/BoardGamesRepositoryTests.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

adding logging
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
Due: none

progress on getting game prices
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.CacheQueueFunction/Program.cs
  backend/BGC.Core/Constants.cs
  backend/BGC.Core/Extensions/LinkDtoExtensions.cs
  backend/BGC.Core/Extensions/RegionDtoExtensions.cs
  backend/BGC.Core/Models/Dtos/BoardGameOracle/PriceStatisticsDto.cs
  backend/BGC.Core/Models/Dtos/BoardGameOracle/RegionDto.cs
  backend/BGC.Core/Services/BoardGameOracelService.cs
  backend/BGC.Core/Services/Interfaces/IBoardGameOracleService.cs
Due: none

adding prices to the board game models
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.Core/Extensions/BoardGameDetailsDtoExtensions.cs
  backend/BGC.Core/Extensions/PriceStatisticsDtoExtensions.cs
  backend/BGC.Core/Models/Domain/BoardGame.cs
  backend/BGC.Core/Models/Domain/Prices.cs
  backend/BGC.Core/Models/Dtos/BoardGameOracle/PriceStatisticsDto.cs
  backend/BGC.Core/Services/BoardGameOracelService.cs
  backend/BGC.Core/Services/Interfaces/IBoardGameOracleService.cs
  backend/BGC.SearchApi/Services/ErrorService.cs
Due: pipelines/search_api/build_pipeline.yaml

updating log level on errors logge and ensuring the prices doesn't throw exceptions
  backend/BGC.Core/Services/BoardGameOracelService.cs
Due: none

returning prices from the search API endpoint
  backend/BGC.Core/Extensions/PriceStatisticsDtoExtensions.cs
  backend/BGC.Core/Models/Domain/Prices.cs
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryPriceDto.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

refactoring test projects
  backend/BGC.SearchApi.sln
  backend/tests/BGC.Core.UnitTests/.editorconfig
  backend/tests/BGC.Core.UnitTests/BGC.Core.UnitTests.csproj
  backend/tests/BGC.Core.UnitTests/Repositories/BoardGamesRepositoryTests.cs
  backend/tests/BGC.Core.UnitTests/Services/BggServiceTests.cs
  backend/tests/BGC.Core.UnitTests/Usings.cs
  backend/tests/BGC.Tests.Core/BGC.Tests.Core.csproj
  backend/tests/BGC.Tests.Core/Helpers/HttpClientHelpers.cs
Due: none

adding board game oracle unit tests
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.Core/Services/BoardGameOracelService.cs
  backend/BGC.Core/Services/Interfaces/IBoardGameOracleService.cs
  backend/tests/BGC.Core.UnitTests/BGC.Core.UnitTests.csproj
  backend/tests/BGC.Core.UnitTests/Services/BoardGameOracleServiceTests.cs
Due: none

renaming and moving consts
  backend/tests/BGC.Core.UnitTests/Services/BoardGameOracleServiceTests.cs
Due: none

adding update board game cache function tests
  backend/BGC.CacheQueueFunction/BGC.Functions.csproj
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.CacheQueueFunction/Models/CacheBoardGameMessage.cs
  backend/BGC.CacheQueueFunction/Models/Exceptions/ValidationException.cs
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameDetailsDto.cs
  backend/BGC.Core/Models/Exceptions/BoardGameNotFoundException.cs
  backend/BGC.SearchApi.sln
  backend/tests/BGC.Core.UnitTests/BGC.Core.UnitTests.csproj
  backend/tests/BGC.Functions.UnitTests/.editorconfig
  backend/tests/BGC.Functions.UnitTests/BGC.Functions.UnitTests.csproj
  backend/tests/BGC.Functions.UnitTests/Functions/UpdateBoardGameCacheFunctionTests.cs
  backend/tests/BGC.Functions.UnitTests/Usings.cs
  backend/tests/BGC.Tests.Core/Extensions/GenericExtensions.cs
Due: none

updating function infra and cache function build and deploy pipeline
  backend/BGC.CacheQueueFunction/Functions/UpdateBoardGameCacheFunction.cs
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  pipelines/cache_update_function/build_pipeline.yml
  pipelines/cache_update_function/deploy_pipeline.yml
  pipelines/functions_apps/deploy_pipeline.yml
Due: pipelines/infra/deploy-pippeline.yml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi
