Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/cache_update_function/build_pipeline.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/cache_update_function/build_pipeline.yml: any of: BGC.Functions, BGC.Core
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi

Fixing issues with some BGG API queries failing to deserialize (#276)
  backend/BGC.Core/Helpers/XmlSanitizingStream.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/README.md
  backend/BGC.SearchApi/appsettings.json
  backend/BGC.SearchApi/search.http
  pipelines/search_api/build_pipeline.yaml
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/search_api/build_pipeline.yaml

fixing whitespaces in containerapp CLI scripts
  pipelines/search_api/deploy_pipeline.yaml
Due: none

fixing whitespaces in containerapp CLI scripts (#277)
  pipelines/search_api/deploy_pipeline.yaml
Due: none

adding auth header to the bgg API calls
  board_games_companion/lib/services/environment_service.dart
  board_games_companion/lib/services/injectable_register_module.dart
  board_games_companion/lib/utilities/base_http_client.dart
  board_games_companion/lib/utilities/caching_http_client.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding auth token to the APIs
  backend/BGC.Core/Models/Settings/BggSettings.cs
  backend/BGC.SearchApi/Program.cs
  board_games_companion/lib/services/environment_service.dart
  board_games_companion/lib/services/injectable_register_module.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

using auth header with bgg API call. Adding memory cache to search results
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.Core/Models/Settings/BggSettings.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/search.http
  backend/cache/BGC.CacheCore/BGC.CacheCore.csproj
  backend/cache/BGC.Functions/BGC.Functions.csproj
  backend/cache/BGC.UpdateBoardGameCacheWorker/BGC.UpdateBoardGameCacheWorker.csproj
  backend/cache/BGC.UpdateBoardGameCacheWorker/Worker.cs
  backend/tests/BGC.Core.UnitTests/BGC.Core.UnitTests.csproj
  backend/tests/BGC.Core.UnitTests/Services/BggServiceTests.cs
  backend/tests/BGC.Functions.UnitTests/BGC.Functions.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  board_games_companion/lib/services/environment_service.dart
  board_games_companion/lib/services/injectable_register_module.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

updating secrets in pipelines
  pipelines/search_api/deploy_pipeline.yaml
  pipelines/templates/update_container_secrets.yaml
Due: none

Updating BGG XML API auth in Search APIs (#280)
  backend/BGC.Core/BGC.Core.csproj
  backend/BGC.Core/Models/Settings/BggSettings.cs
  backend/BGC.Core/Services/BggService.cs
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/search.http
  backend/cache/BGC.CacheCore/BGC.CacheCore.csproj
  backend/cache/BGC.Functions/BGC.Functions.csproj
  backend/cache/BGC.UpdateBoardGameCacheWorker/BGC.UpdateBoardGameCacheWorker.csproj
  backend/cache/BGC.UpdateBoardGameCacheWorker/Worker.cs
  backend/tests/BGC.Core.UnitTests/BGC.Core.UnitTests.csproj
  backend/tests/BGC.Core.UnitTests/Services/BggServiceTests.cs
  backend/tests/BGC.Functions.UnitTests/BGC.Functions.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  board_games_companion/lib/services/environment_service.dart
  board_games_companion/lib/services/injectable_register_module.dart
  board_games_companion/lib/utilities/base_http_client.dart
  board_games_companion/lib/utilities/caching_http_client.dart
  pipelines/search_api/deploy_pipeline.yaml
  pipelines/templates/update_container_secrets.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

moving back the command to a single line
  pipelines/templates/update_container_secrets.yaml
Due: none

moving back the command to a single line (#281)
  pipelines/templates/update_container_secrets.yaml
Due: none

updating cache worker to use bgg auth
  backend/BGC.Core/Extensions/ServiceConnectionExtensions.cs
  backend/BGC.Core/Helpers/MongoDbHelpers.cs
  backend/BGC.SearchApi/Models/Settings/AppSettings.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/search.http
  backend/cache/BGC.Functions/Program.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/Program.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/README - Copy.md
  backend/cache/BGC.UpdateBoardGameCacheWorker/Worker.cs
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/search_api/build_pipeline.yaml

.NET 9 in docker file
  backend/cache/BGC.UpdateBoardGameCacheWorker/dockerfile
Due: none

Updating bgg auth in cache worker (#282)
  backend/BGC.Core/Extensions/ServiceConnectionExtensions.cs
  backend/BGC.Core/Helpers/MongoDbHelpers.cs
  backend/BGC.SearchApi/Models/Settings/AppSettings.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/search.http
  backend/cache/BGC.Functions/Program.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/Program.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/README - Copy.md
  backend/cache/BGC.UpdateBoardGameCacheWorker/Worker.cs
  backend/cache/BGC.UpdateBoardGameCacheWorker/dockerfile
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/search_api/build_pipeline.yaml

first round of Android updates
  board_games_companion/analysis_options.yaml
  board_games_companion/android/app/build.gradle
  board_games_companion/android/app/local.properties
  board_games_companion/android/gradle/wrapper/gradle-wrapper.properties
  board_games_companion/android/settings.gradle
  board_games_companion/lib/common/enums/collection_type.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
  board_games_companion/lib/widgets/common/elevated_icon_button.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

moving to gradle 8.13.0
  board_games_companion/android/settings.gradle
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing more Android related issues
  board_games_companion/android/app/build.gradle
  board_games_companion/android/app/src/debug/AndroidManifest.xml
  board_games_companion/android/app/src/main/AndroidManifest.xml
  board_games_companion/android/app/src/main/kotlin/com/progrunning/board_games_companion/MainActivity.kt
  board_games_companion/android/app/src/profile/AndroidManifest.xml
  board_games_companion/ios/Flutter/ephemeral/flutter_lldb_helper.py
  board_games_companion/ios/Flutter/ephemeral/flutter_lldbinit
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

upgrading package info plugin
  board_games_companion/lib/pages/collections/collections_page.dart
  board_games_companion/lib/pages/home/home_page_drawer.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

got the app to run on Android
  board_games_companion/android/app/src/main/AndroidManifest.xml
  board_games_companion/android/app/src/main/kotlin/com/progrunning/boardgamescompanion/MainActivity.kt
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/pages/plays/plays_view_model.g.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing an issue with scores not saving when attempting to update them
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding bgg logo
  board_games_companion/assets/bgg-logo.png
  board_games_companion/lib/common/app_colors.dart
  board_games_companion/lib/common/app_theme.dart
  board_games_companion/lib/pages/about/about_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing warnings
  board_games_companion/lib/common/app_theme.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/pages/create_board_game/create_board_game_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/enter_score/enter_score_dialog.dart
  board_games_companion/lib/pages/player/player_page.dart
  board_games_companion/lib/pages/players/players_page.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/playthroughs/playthrough_migration_page.dart
  board_games_companion/lib/pages/playthroughs/playthroughs_game_settings_page.dart
  board_games_companion/lib/pages/settings/settings_view_model.dart
  board_games_companion/lib/services/injectable_register_module.dart
  board_games_companion/lib/widgets/common/bgc_checkbox.dart
  board_games_companion/lib/widgets/common/elevated_icon_button.dart
  board_games_companion/lib/widgets/common/loading_overlay.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing no games in collection empty state placement
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/pages/collections/collections_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing date picker for stats
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/common/enums/plays_stats_preset_time_period.dart
  board_games_companion/lib/pages/plays/plays_page.dart
  board_games_companion/lib/pages/plays/plays_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fixing divider under the tabbar
  board_games_companion/lib/common/app_theme.dart
  board_games_companion/lib/pages/collections/collections_page.dart
  board_games_companion/lib/pages/plays/plays_page.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating deployment pipeline build agrs
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

updating iOS to run
  README.md
  board_games_companion/ios/Flutter/AppFrameworkInfo.plist
  board_games_companion/ios/Podfile
  board_games_companion/ios/Podfile.lock
  board_games_companion/ios/Runner.xcodeproj/project.pbxproj
  board_games_companion/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  board_games_companion/ios/Runner/AppDelegate.swift
  board_games_companion/pubspec.lock
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

fix for xcode build failure
  board_games_companion/ios/Runner.xcodeproj/project.pbxproj
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

removing _test part of the name from the mock files
  board_games_companion/test/mocks/plays_view_model_mock.dart
  board_games_companion/test/mocks/search_store_mock.dart
  board_games_companion/test/view_models/home_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

updating timouet on the CI pipelines
  pipelines/mobile_app/build-pipeline.yml
Due: none

increasing java heap size to >2gb
  board_games_companion/android/gradle.properties
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

increasing java heap size to 4gb
  board_games_companion/android/gradle.properties
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

extending deploy pipeline timeouts
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

extending deploy pipeline timeouts (#284)
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

grabbing only latest commit (shallow clone)
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

bumping macos agent versions and removing Java install step from android build
  README.md
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

updating readme and xcode project provisioning profiles
  README.md
  board_games_companion/ios/Runner.xcodeproj/project.pbxproj
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

changing android build from linux to macos
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

reverting commenting out JAVA 17 install step
  pipelines/mobile_app/deploy-pipeline.yml
Due: none

Pipeline updates and manual steps for publishing (#285)
  README.md
  board_games_companion/ios/Runner.xcodeproj/project.pbxproj
  pipelines/mobile_app/deploy-pipeline.yml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml
