Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/search_api/build_pipeline.yaml

azure-pipelines.yml:
  name: $(app.version).$(Build.BuildID)_$(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'pwd
  
      ls
  
      dotnet restore
  
      dotnet build -c Release
  
      '
  ...

pipelines/functions_apps/deploy_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    jobs:
    - job: PublishFunctions
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: none
      - task: DownloadPipelineArtifact@2
        displayName: Download Artifacts
        inputs:
  ...

pipelines/infra/deploy-pippeline.yml:
  name: $(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    variables:
    - group: BGC-DEV-INFRA
    jobs:
    - deployment: ProvisionAzureResources
      displayName: Provision Azure Resources
      environment: DEV
      strategy:
        runOnce:
          deploy:
            steps:
  ...

pipelines/mobile_app/build-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  jobs:
  - job: Build
    timeoutInMinutes: 20
    pool:
      vmImage: macOS-latest
    steps:
    - task: FlutterInstall@0
      displayName: Install Flutter
      inputs:
        mode: auto
        channel: stable
        version: custom
  ...

pipelines/search_api/build_pipeline.yaml:
  name: $(Build.BuildId)
  pool:
    vmImage: ubuntu-22.04
    workspace:
      clean: all
  jobs:
  - job: CI
    displayName: CI
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 7.x SDK
      inputs:
        version: 7.x
    - task: DotNetCoreCLI@2
      displayName: Build Search API
      inputs:
  ...

updating shared and dev infrastructure
  cloud_infrastructure/README.md
  cloud_infrastructure/terraform/dev/backend.conf
  cloud_infrastructure/terraform/dev/main.tf
  cloud_infrastructure/terraform/dev/terraform.tfvars.json
  cloud_infrastructure/terraform/prod/backend.conf
  cloud_infrastructure/terraform/prod/terraform.tfvars.json
  cloud_infrastructure/terraform/shared/main.tf
  cloud_infrastructure/terraform/shared/terraform.tfvars.json
Due: pipelines/infra/deploy-pippeline.yml

updating build and deploy pipelines
  pipelines/search_api/build_pipeline.yaml
  pipelines/search_api/deploy_pipeline.yaml
Due: none

reverting template path
  pipelines/search_api/build_pipeline.yaml
Due: none

fixing dockerfile
  backend/BGC.SearchApi/dockerfile
Due: pipelines/search_api/build_pipeline.yaml

fixing triggers
  pipelines/functions_apps/build_pipeline.yml
  pipelines/search_api/build_pipeline.yaml
Due: none

fixing incorrect pipeline name
  pipelines/search_api/deploy_pipeline.yaml
Due: none

fixing acr server
  pipelines/search_api/deploy_pipeline.yaml
Due: none

adding acrName
  pipelines/search_api/deploy_pipeline.yaml
Due: none

adding real name
  pipelines/search_api/deploy_pipeline.yaml
Due: none

adding docker login
  pipelines/search_api/deploy_pipeline.yaml
Due: none

seeing if acr credentials will help
  cloud_infrastructure/terraform/shared/terraform.tfvars.json
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/infra/deploy-pippeline.yml

adding env variables to the deployment pipeline
  backend/BGC.SearchApi/search.http
  cloud_infrastructure/terraform/shared/main.tf
  pipelines/search_api/deploy_pipeline.yaml
Due: pipelines/infra/deploy-pippeline.yml, pipelines/search_api/build_pipeline.yaml

updating test and coverage task
  pipelines/templates/test_and_coverage.yaml
Due: none

fixing secretref
  pipelines/search_api/deploy_pipeline.yaml
Due: none

adding a todo
  pipelines/search_api/deploy_pipeline.yaml
Due: none

creating board game search service
  .vscode/launch.json
  board_games_companion/lib/injectable.config.dart
  board_games_companion/lib/models/api/board_game_type.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.freezed.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.g.dart
  board_games_companion/lib/models/hive/board_game_details.dart
  board_games_companion/lib/pages/home/home_page.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/lib/pages/home/home_view_model.g.dart
  board_games_companion/lib/services/board_games_search_service.dart
  board_games_companion/lib/services/environment_service.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
  board_games_companion/pubspec.lock
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml

updating game details page UI
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/models/hive/board_game_details.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_expansions.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/widgets/board_games/board_game_rating_hexagon.dart
  board_games_companion/lib/widgets/common/rating_hexagon.dart
  board_games_companion/lib/widgets/common/search/search_result_game_details.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
  board_games_companion/lib/widgets/search/collections_search.dart
Due: pipelines/mobile_app/build-pipeline.yml

removing unused code
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
Due: pipelines/mobile_app/build-pipeline.yml

small styling fixes
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/widgets/common/search/search_result_game_details.dart
Due: pipelines/mobile_app/build-pipeline.yml

fixes to the search results conditions
  board_games_companion/lib/widgets/common/search/search_result_game_details.dart
Due: pipelines/mobile_app/build-pipeline.yml

setting up the mongo db connection string
  pipelines/search_api/deploy_pipeline.yaml
  pipelines/templates/update_container_secrets.yaml
Due: none

updating test and coverage template
  pipelines/templates/test_and_coverage.yaml
Due: none

fixing wrong paths
  pipelines/templates/test_and_coverage.yaml
Due: none

changing to bash shell
  pipelines/templates/update_container_secrets.yaml
Due: none

allowing az cli extension installation
  pipelines/templates/update_container_secrets.yaml
Due: none

fixing too long secret name
  pipelines/search_api/deploy_pipeline.yaml
  pipelines/templates/update_container_secrets.yaml
Due: none

syntax fix
  pipelines/templates/update_container_secrets.yaml
Due: none

installing containerapp extension
  pipelines/search_api/deploy_pipeline.yaml
  pipelines/templates/update_container_secrets.yaml
Due: none

trying to upgrade to latest azure CLI
  pipelines/templates/update_container_secrets.yaml
Due: none

fix
  pipelines/templates/update_container_secrets.yaml
Due: none

removing upgrade as it doesn't work
  pipelines/templates/update_container_secrets.yaml
Due: none

last chance
  pipelines/templates/update_container_secrets.yaml
Due: none

adding a comment
  pipelines/templates/update_container_secrets.yaml
Due: none

Adding api key authentication step. Adding editorconfig and stylecop
  backend/.editorconfig
  backend/BGC.SearchApi.UnitTests/.editorconfig
  backend/BGC.SearchApi.UnitTests/BGC.SearchApi.UnitTests.csproj
  backend/BGC.SearchApi.UnitTests/Repositories/BoardGamesRepositoryTests.cs
  backend/BGC.SearchApi/Authentication/ApiKeyAuthenticationHandler.cs
  backend/BGC.SearchApi/Authentication/ApiKeyAuthenticationSettings.cs
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Common/Constants.cs
  backend/BGC.SearchApi/Models/Settings/AppSettings.cs
  backend/BGC.SearchApi/Models/Settings/MongoDbSettings.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/BggService.cs
  backend/BGC.SearchApi/search.http
  pipelines/search_api/deploy_pipeline.yaml
  pipelines/templates/update_container_secrets.yaml
Due: pipelines/search_api/build_pipeline.yaml

fixing unit tets
  backend/BGC.SearchApi.UnitTests/Endpoints/SearchEndpointTests.cs
  backend/BGC.SearchApi.UnitTests/Helpers/WebApiApp.cs
Due: none

deploying the change even though the secrets might not be good
  pipelines/search_api/deploy_pipeline.yaml
Due: none

fixing condition
  pipelines/search_api/deploy_pipeline.yaml
Due: none

now actually fixing?
  pipelines/search_api/deploy_pipeline.yaml
  pipelines/templates/update_container_secrets.yaml
Due: none

adding policies and removing unnecessary code
  backend/BGC.SearchApi/Program.cs
  backend/apim/search-api-policies-dev.xml
  backend/apim/search-api-policies-prod.xml
Due: pipelines/search_api/build_pipeline.yaml

updating env variables
  backend/BGC.SearchApi/search.http
  board_games_companion/lib/services/board_games_search_service.dart
  board_games_companion/lib/services/environment_service.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi
