Repository Progrunning/BoardGamesCompanion: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/cache_update_function/build_pipeline.yml, pipelines/functions_apps/build_pipeline.yml, pipelines/functions_apps/deploy_pipeline.yml, pipelines/infra/deploy-pippeline.yml, pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

azure-pipelines.yml:
  name: $(app.version).$(Build.BuildID)_$(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'pwd
  
      ls
  
      dotnet restore
  
      dotnet build -c Release
  
      '
  ...

pipelines/cache_update_function/build_pipeline.yml:
  name: $(functions.version).$(Build.BuildID) $(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 7.0
    inputs:
      packageType: sdk
      version: 7.0.x
  - script: 'dotnet restore
  
      dotnet build -c Release
  
      '
    displayName: Restore & Build
  ...

pipelines/functions_apps/build_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET 6.0
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: 'dotnet restore
  
      dotnet build -c Release
  
      '
    displayName: Restore & Build
  ...

pipelines/functions_apps/deploy_pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    jobs:
    - job: PublishFunctions
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: none
      - task: DownloadPipelineArtifact@2
        displayName: Download Artifacts
        inputs:
  ...

pipelines/infra/deploy-pippeline.yml:
  name: $(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: DEV
    variables:
    - group: BGC-DEV-INFRA
    jobs:
    - deployment: ProvisionAzureResources
      displayName: Provision Azure Resources
      environment: DEV
      strategy:
        runOnce:
          deploy:
            steps:
  ...

pipelines/mobile_app/build-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  jobs:
  - job: Test
    timeoutInMinutes: 10
    condition: eq('${{ parameters.runTests }}', 'true')
    pool:
      vmImage: macOS-latest
    steps:
    - task: FlutterInstall@0
      displayName: Install Flutter
      inputs:
        mode: auto
  ...

pipelines/mobile_app/deploy-pipeline.yml:
  name: $(app.version).$(Build.BuildID) $(SourceBranchName)
  stages:
  - stage: CdBuildAndroid
    jobs:
    - job: BuildAndroid
      condition: or(eq('${{ parameters.publishAndroid }}', 'true'), in(variables['Build.Reason'], 'BatchedCI', 'IndividualCI'))
      timeoutInMinutes: 20
      pool:
  ...

pipelines/search_api/build_pipeline.yaml:
  name: $(Build.BuildId)
  pool:
    vmImage: ubuntu-22.04
    workspace:
      clean: all
  jobs:
  - job: CI
    displayName: CI
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 7.x SDK
      inputs:
        version: 7.x
    - task: DotNetCoreCLI@2
      displayName: Build Search API
      inputs:
  ...

updating build pipeline
  pipelines/cache_update_function/build_pipeline.yml
Due: none

update build pipeline reference
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

fixing project name
  pipelines/cache_update_function/build_pipeline.yml
Due: none

updating directory name for functions project
  backend/BGC.Functions/.dockerignore
  backend/BGC.Functions/.gitignore
  backend/BGC.Functions/.vscode/extensions.json
  backend/BGC.Functions/BGC.Functions.csproj
  backend/BGC.Functions/Constants.cs
  backend/BGC.Functions/Dockerfile
  backend/BGC.Functions/Functions/UpdateBoardGameCacheFunction.cs
  backend/BGC.Functions/Models/CacheBoardGameMessage.cs
  backend/BGC.Functions/Models/Exceptions/ValidationException.cs
  backend/BGC.Functions/Program.cs
  backend/BGC.Functions/Properties/launchSettings.json
  backend/BGC.Functions/host.json
  backend/BGC.SearchApi.sln
  pipelines/cache_update_function/build_pipeline.yml
Due: none

fixing yaml
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

updating func app name
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

adding download step
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

fixing syntax
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

another try at fixing pipeline
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

another try
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

final fix
  pipelines/cache_update_function/build_pipeline.yml
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

now?
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

path fix
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

app settings fix
  pipelines/cache_update_function/deploy_pipeline.yml
Due: none

adding unit tests for updating cache
  backend/BGC.Core/Models/Domain/BoardGame.cs
  backend/BGC.Core/Services/DateTimeService.cs
  backend/BGC.Core/Services/Interfaces/IDateTimeService.cs
  backend/BGC.SearchApi/Models/Settings/CacheSettings.cs
  backend/BGC.SearchApi/Program.cs
  backend/BGC.SearchApi/Services/CacheService.cs
  backend/BGC.SearchApi/Services/Interfaces/ICacheService.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/search.http
  backend/tests/BGC.Functions.UnitTests/BGC.Functions.UnitTests.csproj
  backend/tests/BGC.SearchApi.UnitTests/Services/SearchServiceTests.cs
Due: pipelines/search_api/build_pipeline.yaml

adding test step
  pipelines/cache_update_function/build_pipeline.yml
  pipelines/search_api/build_pipeline.yaml
Due: none

excluding models from the code coverage
  pipelines/cache_update_function/build_pipeline.yml
  pipelines/search_api/build_pipeline.yaml
Due: none

adding more tests
  backend/BGC.Core/Constants.cs
  backend/BGC.Core/Extensions/LinkDtoExtensions.cs
  backend/tests/BGC.Core.UnitTests/Extensions/BoardGameDetailsDtoExtensionsTests.cs
  backend/tests/BGC.Core.UnitTests/Extensions/LinkDtoExtensionsTests.cs
  backend/tests/BGC.Core.UnitTests/Services/BggServiceTests.cs
Due: none

fixing incorrect path
  pipelines/cache_update_function/build_pipeline.yml
Due: none

excluding all UnitTests
  pipelines/cache_update_function/build_pipeline.yml
Due: none

adding more exclusions to test coverage
  pipelines/cache_update_function/build_pipeline.yml
Due: none

fixing broken docker image
  backend/.dockerignore
  backend/BGC.SearchApi/BGC.SearchApi.csproj
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Properties/launchSettings.json
  backend/BGC.SearchApi/dockerfile
Due: pipelines/search_api/build_pipeline.yaml

trying out different path
  pipelines/search_api/build_pipeline.yaml
Due: none

another pipeliune test
  backend/BGC.SearchApi/dockerfile
  pipelines/search_api/build_pipeline.yaml
Due: pipelines/search_api/build_pipeline.yaml

fixing condition
  pipelines/search_api/build_pipeline.yaml
Due: none

small changes
  backend/BGC.SearchApi/dockerfile
  pipelines/search_api/build_pipeline.yaml
Due: pipelines/search_api/build_pipeline.yaml

adding prices model to the app
  board_games_companion/lib/common/hive_boxes.dart
  board_games_companion/lib/main.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.freezed.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.g.dart
  board_games_companion/lib/models/api/search/board_game_summary_price_dto.dart
  board_games_companion/lib/models/api/search/board_game_summary_price_dto.freezed.dart
  board_games_companion/lib/models/api/search/board_game_summary_price_dto.g.dart
  board_games_companion/lib/models/hive/board_game_details.dart
  board_games_companion/lib/models/hive/board_game_details.freezed.dart
  board_games_companion/lib/models/hive/board_game_details.g.dart
  board_games_companion/lib/models/hive/board_game_prices.dart
  board_games_companion/lib/models/hive/board_game_prices.freezed.dart
  board_games_companion/lib/models/hive/board_game_prices.g.dart
  board_games_companion/lib/models/hive/no_score_game_result.dart
  pipelines/search_api/build_pipeline.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

progress on showing prices in the app
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  board_games_companion/lib/common/constants.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.freezed.dart
  board_games_companion/lib/models/api/search/board_game_search_dto.g.dart
  board_games_companion/lib/models/hive/board_game_details.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml, pipelines/search_api/build_pipeline.yaml

progress on showing prices in the search results
  board_games_companion/assets/flags/us.png
  board_games_companion/assets/icons/boardgameoracle_logo_name.svg
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/common/app_theme.dart
  board_games_companion/lib/common/constants.dart
  board_games_companion/lib/models/hive/board_game_details.dart
  board_games_companion/lib/pages/board_game_details/board_game_details_page.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
  board_games_companion/lib/widgets/search/collections_search.dart
  board_games_companion/pubspec.yaml
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding azure arch uml file
  architecture/azure_architecture.puml
Due: none

adding arch diagrams
  architecture/azure_architecture.puml
  architecture/out/search_and_caching_azure_diagram/azure_architecture.png
  architecture/out/serach_board_games_sequence_diagram/serach_board_games_sequence_diagram.png
  architecture/search_and_caching_azure_diagram.puml
  architecture/search_system_containers_c4_diagram.puml
  architecture/serach_board_games_sequence_diagram.puml
Due: none

updating sequence diagram
  architecture/out/serach_board_games_sequence_diagram/serach_board_games_sequence_diagram.png
  architecture/serach_board_games_sequence_diagram.puml
Due: none

updating prices display styles on the search games screen
  board_games_companion/lib/common/app_text.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding mocks for the home view model
  board_games_companion/lib/pages/home/home_page.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/test/mocks/analytics_service_mock.dart
  board_games_companion/test/mocks/app_store_mock.dart
  board_games_companion/test/mocks/board_games_filters_store_mock.dart
  board_games_companion/test/mocks/board_games_search_service.dart
  board_games_companion/test/mocks/board_games_store_test.dart
  board_games_companion/test/mocks/collections_view_model_test.dart
  board_games_companion/test/mocks/hot_board_games_view_model_test.dart
  board_games_companion/test/mocks/players_view_model_mock.dart
  board_games_companion/test/mocks/plays_view_model_test.dart
  board_games_companion/test/mocks/rate_and_review_service_mock.dart
  board_games_companion/test/mocks/search_store_test.dart
  board_games_companion/test/view_models/home_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

adding first home view model test
  board_games_companion/lib/pages/home/home_page.dart
  board_games_companion/lib/pages/home/home_view_model.dart
  board_games_companion/lib/pages/home/home_view_model.g.dart
  board_games_companion/lib/services/search_service.dart
  board_games_companion/lib/stores/search_store.dart
  board_games_companion/lib/stores/search_store.g.dart
  board_games_companion/lib/widgets/search/bgg_search.dart
  board_games_companion/test/view_models/home_view_model_test.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

begnning of reordering of scores
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_page.dart
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

TODO
  board_games_companion/lib/pages/edit_playthrough/edit_playthrough_view_model.dart
Due: pipelines/mobile_app/build-pipeline.yml, pipelines/mobile_app/deploy-pipeline.yml

making year published optional as it's not always returned from bgg
  backend/BGC.Core/Models/Dtos/BoardGameGeek/BoardGameSearchItemDto.cs
  backend/BGC.SearchApi/Models/Dtos/BoardGameSummaryDto.cs
  backend/BGC.SearchApi/Services/SearchService.cs
  backend/BGC.SearchApi/search.http
Due: pipelines/search_api/build_pipeline.yaml

fixing backward compatibility with expansions
  backend/BGC.Core/Constants.cs
  backend/BGC.Core/Extensions/BoardGameDetailsDtoExtensions.cs
Due: none

ensuring backward compatibility with the app
  backend/BGC.SearchApi/Services/SearchService.cs
Due: pipelines/search_api/build_pipeline.yaml

Path conditions:
  azure-pipelines.yml: any of: BGC.Functions
  pipelines/cache_update_function/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/build_pipeline.yml: any of: BGC.Functions
  pipelines/functions_apps/deploy_pipeline.yml: any of: BGC.Functions
  pipelines/infra/deploy-pippeline.yml: any of: pipelines/infra, cloud_infrastructure
  pipelines/mobile_app/build-pipeline.yml: any of: board_games_companion
  pipelines/mobile_app/deploy-pipeline.yml: any of: board_games_companion
  pipelines/search_api/build_pipeline.yaml: any of: backend/BGC.SearchApi
